

/*===========|||||===========
  Aplication Flow CSS - Start - ADIB EXPRESS CSS 
    =========|||||===========*/
.list-vision.a-top > li {vertical-align:top;}
.list-bluearrow > li {padding-left: 12px;text-indent: -8px;}
.list-bluearrow > li:before {width: 8px; height: 11px; background: url(../img/sprite-3.png) no-repeat -484px -18px; content: ""; display: inline-block; vertical-align: -1px; margin-left:-.25em; margin-right:.25em;}
.list-vision.a-top .btn-blue {min-width:68px; text-align:center;}
.list-vision.a-top h2 {font-size:17px;}
.btn-sm {padding:6px 10px; height:28px; line-height:16px; text-transform:none;}
.apply-online {margin:2em 0 0; font-size:14px;}
.apply-online h3 {color:#007abb; border-bottom:solid 2px #007abb; padding-bottom:7px;}
.apply-online h6 {font-weight:normal; font-family:'Droid Sans', sans-serif; }
.apply-online .list-bullet {padding-left:20px;}
.apply-online .list-bullet > li {margin-bottom:8px;}
hr {border-top-color:#e1e1e1;}
.call-apply {border-top:solid 2px #007abb; color:#007abb; font-weight:bold; font-size:14px; padding-top:.75em; margin-top: 1.5em;}
.gray-box {background:#f4f3f3; padding:15px;}
.list-step {border-bottom:solid 2px #002f69; margin-bottom:0;}
.list-step > li {float:left; background:#00a7e8; width:25%; position:relative;}
.list-step > li.tick-mark .num {text-indent:-11111px; background:url(../img/sprite-4.png) no-repeat -283px -83px #84CA00; overflow:hidden; vertical-align:middle;}
.list-step > li > a {padding:12px; display:block; font-size:12px; color:#fff; text-align:center; height:38px; transition:none; -webkit-transition:none; cursor:default;}
.list-step > li:after {content:''; background:url(../img/sprite-4.png) no-repeat -222px -203px; width:13px; height:40px; position:absolute; left:100%; top:0; z-index:1;}
/*.list-step > li:hover:after {background-position:-272px -203px;}
.list-step > li:hover > a {background:#008bc1;}*/
.list-step > li.current > a {background:#00538f; cursor:default;}
.list-step > li.current:after {background-position:-247px -203px;}
.list-step .num {width:18px; height:18px; border-radius:100%; -webkit-border-radius:100%; border:solid 2px #fff; background:#002f69; display:inline-block; color:#fff; text-align:center; font-style:normal; font-weight:bold; font-size:11px; margin-right:.75em; margin-top:-1px; position:relative;}
.list-step > li:last-child:after {display:none;}
.right-col-heading {border-bottom:solid 1px #dedede; margin-bottom:20px;}
.right-col-heading h5 {float:left; color:#002f69;}
.mandtory-fields {float:right; font-size:12px; color:#00538f; margin:.25em 0 0;}
.form-tbl {width:100%; line-height:1.3;}
.form-tbl td {vertical-align:top;}
.form-tbl .label {display:block; padding:7px 0 0;}
.form-tbl .td-label {width:110px;}
.form-tbl .td-field {width:200px;}

.form-tbl .td-space {width:25px;}
.form-tbl .btn {min-width:70px; text-transform:none; vertical-align:top;}
.form-tbl .separation td {border-top:solid 1px #dedede; border-bottom:solid 1px #dedede;}
.form-tbl .separation-top td {border-top:solid 1px #dedede;}
.error-place {min-height: 20px; padding-top: 2px; font-size: 12px; color: #e81717; clear:both;}
.inline-form-control {margin:8px 6px 0 0; display:inline-block;}
.inline-form-control input {vertical-align:-1px;}
.icon-date {background:url(../img/sprite-4.png) no-repeat -286px -113px; width:16px; height:18px; position:absolute; right:5px; top:6px; pointer-events:none;}
.field-option {position:relative;}

.select-gray select, .select-gray .chosen-container {width:100%!important;}
.select-gray .chosen-container-single .chosen-single {height:30px; line-height:28px; border-color:#d6d6d6; color:#5f5f5f; transition:box-shadow 0.45s, border-color 0.45s ease-in-out; -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out; -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;}
.select-gray .chosen-container-active .chosen-single {border-color:#66afe9;}
.select-gray .chosen-container-single .chosen-single div b {background-position:0 3px;}
input.mob-sm {width:60px; float:left;}
input.mob-xs {width:135px; float:right;}
input.sms-input {width:200px; display:inline-block; margin:0 1em;}
.link-gray {margin-top:1em; color:#6f6f6f; text-decoration:underline; display:inline-block;}
.link-gray:hover {color:#004989;}
.black {color:#000;}
.label-success {background:#41b683; color:#fff; font-size:14px; padding:12px 22px;}
.i2-tickwhite {width:21px; height:16px; background-position:-290px -153px; margin-right: .75em; vertical-align: -3px;}
.apptitle {font-size:14px; font-weight:bold; margin:1.5em 0;}
.appdetails {padding:1.5em 0; border-top:solid 1px #dedede; border-bottom:solid 1px #dedede;}




/*==================Application flow css changes====================*/
.financial-result-title.no-icon:before {display:none!important;}
.financial-result .financial-result-title.no-icon h2 {margin:4px 0 4px 6px;}
ul.list-tick {list-style:none;}
ul.list-tick > li {background:url(../img/tick.html) no-repeat; padding-left:27px; margin-top:5px; margin-bottom:5px;}
.financial-result-title, .followUsTitle, .apply-now-title {backface-visibility:hidden; -webkit-backface-visibility:hidden;} /*bug fix on hover*/

td.td-label.note > p {color:#6f6f6f; padding:9px; margin: 0px 0px 0px; font-family: 'Droid Sans', sans-serif; font-size: 10px; !important; }
td.td-label.security-note > p {color:#6f6f6f; padding:9px; margin: -17px 0px 0px; font-family: 'Droid Sans', sans-serif; font-size: 10px; !important; }

.i2-debitcard {width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -345px -128px;}
.i2-estatements{width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-14px; position:relative; text-indent:-11111px; background-position:-346px -129px;}
.i2-smsalerts{width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position:-348px -33px;}
.i2-cashcovers{width:35px; height:35px;   display:inline-block; margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -380px -39px;}
.i2-chequebook{width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -343px -83px;}
.i2-noneoftheabove{width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -348px -171px;}
.i2-original_passport-sm-blue {width:32px; height:32px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -452px -169px;}
.i2-passport_and_visa_copy-sm-blue {width:32px; height:32px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -448px -87px;}
.i2-emirates_id-sm-blue {width:32px; height:32px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -450px -132px;}
.i2-passport {width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -402px -167px;}
.i2-visa{width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position:-394px -87px;}
.i2-emiratesid{width:35px; height:35px;   display:inline-block; margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -398px -131px;}
.i2-salarycertificate{width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -401px -211px;}

.i2-onlinebanking {width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -8px -117px;}
.i2-mobilebanking {width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -345px -34px;}
.i2-telephonebanking {width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -49px -117px;}

.i2-orangeexclamation{float:left; width:35px; height:35px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -450px -210px;}

.i2-passport-sm-blue {width:32px; height:32px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -452px -169px;}
.i2-visa-sm-blue {width:32px; height:32px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -448px -87px;}
.i2-eid-sm-blue {width:32px; height:32px;   display:inline-block;  margin-right:.75em; margin-top:-1px; position:relative; text-indent:-11111px; background-position: -450px -132px;}


.apply-online.appflow1{
    margin:0;
}

.applybtn-appflow1{
    width: 100px;
    text-transform:none;
}


.apply-appflow1{
    float:right;
}

.form-tbl .td-field.time-slot{
    width:225px;
}
select.error + .chosen-container-single .chosen-single {border-color:#FF2323;}

.preferences .inline-form-control {margin:14px 6px 0 0; display:inline-block;}
.form-tbl.preferences td {padding:12px 0 0;}

a.edit-link, a.edit-link :visited {color:#002f69; font-size:15px;}
a.edit-link:hover {color:#004989;}
a.edit-link, .save-btn {
	float:right; margin-top:-5px;
}

.thankyou{
	color: #007abb;
	border-bottom: solid 2px #007abb;
	padding-bottom: 7px;
	font-weight: bold;
    font-size: 23px;
}

.label-warning {background:#fcf8e3; color:#fff; font-size:14px; padding:12px 22px;}
.label-warning > p {color:#007ABB; display:inline; font-size:14px;}
/*===========|||||===========
  Aplication Flow CSS - End
=========|||||===============*/

/*================== Xpress form ====================*/

ul.list-xpress-steps { list-style: none; margin: 0; padding: 0; }
ul.list-xpress-steps > li { display: inline-block; width: 33%; padding: 1em; }
ul.list-xpress-steps > li div { font-size: 20px; margin-top: 1em; }
.map { height: 400px; }
/*phone number selector*/
.xpress-form td { padding-right: 10px; }
.mob_num { width: 66px; float: left; }
.mob-xs { width: 100px; float: right; }
.checkbox-grid {margin:10px 0 0;}
.checkbox-grid li { display: inline-block; float: left; width: 25%; margin: 5px 40px 20px -40px; }
.bookanappointment { font-size: 12px; text-transform: uppercase; margin-left: 222px; margin-top: 20px; height: 28px; display: inline-block; position: relative; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.xpress-form td { padding-left: 10px; }
.form-tbl .label-dp { display: block; padding: 20px 0 0; }
.pline { display: inline-block; padding-left: 25px }
input[type="checkbox"]:checked + span { font-weight: bold; }
.select-gray-time select, .select-gray .chosen-container { width: 80px; }
.select-gray-time .chosen-container-single .chosen-single { height: 30px; width: 100%; line-height: 28px; border-color: #d6d6d6; color: #5f5f5f; transition: box-shadow 0.45s, border-color 0.45s ease-in-out; -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
-moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.select-gray-time .chosen-container-active .chosen-single { border-color: #66afe9; width: 80px; }
.select-gray-time .chosen-container-single .chosen-single div b { background-position: 0 3px; width: 80px; }
.field-option-date { position: relative; width: 104px; display: inline-block; float: left; margin-right: 20px}
#pp_ex_datepicker { display: inline-block; }
.numb { display: inline-block; background-color: #FFFFFF; border-style: solid; border-width: 2px; color: #00a7e8; ; font-weight: bold; border-radius: 100%; width: 20px; height: 20px; text-align: center; line-height: 16px; position: absolute; }
.select-gray-branch select, .select-gray .chosen-container { width: 537px; }
.select-gray-branch .chosen-container-single .chosen-single { height:30px; line-height: 28px; border-color: #d6d6d6; color: #5f5f5f; transition: box-shadow 0.45s, border-color 0.45s ease-in-out; -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
	-moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.select-gray-branch .chosen-container-active .chosen-single { border-color: #66afe9;}
.select-gray-branch .chosen-container-single .chosen-single div b { background-position: 0 3px; width: 537px; }
.cannotfind { padding: 12px 0px 0px 0px; display: inline-block; text-decoration: underline; font-size: 15px; font-weight: 700; }
/*popup*/


.modal:before { content: ""; /*display: none;*/
background: transparent; position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: -1; }
.modal:target:before { -webkit-transition: -webkit-transform 0.9s ease-out; -moz-transition: -moz-transform 0.9s ease-out; -o-transition: -o-transform 0.9s ease-out; transition: transform 0.9s ease-out;/*display: block;*/
}
.modal:target + .modal-dialog, .modal-dialog.open { -webkit-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); top: 100%; left: 55%; }
.modal-dialog { background: #fefefe; border: #333 solid 1px; border-radius: 5px; margin-left: -200px; position: absolute; left: 50%; top: -100%; z-index: 11; width: 513px; -webkit-transform: translate(0, -500%); -ms-transform: translate(0, -500%); transform: translate(0, -500%); -webkit-transition: -webkit-transform 0.3s ease-out; -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out; transition: transform 0.3s ease-out; }
.modal-body { padding-top: 20px; padding-left: 100px; }
.modal-footer { padding: 10px 20px; }
.modal-footer { text-align: center; }
.modal-compass { padding-top: 20px; padding-left: 15px; position: absolute; }
.modal-dialog .btn-blue { width: 120px; margin: 0px 30px 0 25px; border: 1px solid #707070; padding-top: 13px }
.modal-body > p { margin: 0px 18px 10px; }
.modal-dialog .btn-white { color: #002f69; background: #fff; border-style: solid; border: 1px solid #707070; width: 120px; font-size: 13px; text-transform: none; }
.remember-details { margin: 3px -1px 10px; display: inline-block; font-family: 'Droid Sans', sans-serif; color: #6f6f6f; }
[class^=btn].btn-lg { line-height: 1.3;}

/*==========================================
  Xpress form - thank you message and confirmation details
==========================================*/
.form-booking-confirm textarea {resize:none;}
.form-booking-confirm input[type=text], 
.form-booking-confirm input[type=email],
.form-booking-confirm input[type=tel],
.form-booking-confirm textarea {background:#e7e7e7; transition:.25s; -webkit-transition:.25s; color:#000;}
.form-booking-confirm [disabled] {border-color:transparent; background-color:transparent;}
input[type=email].has-email,
input[type=tel].has-phone {padding-left:28px; background-image:url(../img/email-2.gif); background-repeat:no-repeat; background-position:8px center;}
input[type=tel].has-phone {background-image:url(../img/telephone-2.gif);}
.form-tbl .td-edit {width:60px;}
.form-tbl .td-md {width:250px;}
.form-tbl .td-sm {width:180px;}
.form-tbl [data-js="confirmBooking"] {display:none;}
.link-blue:visited {color:#00a7e8;}
.link-gray:visited {color:#6f6f6f;}
.form-booking-confirm div.label {padding-left:5px;}
.txt-field {margin:8px 0 0; color:#000;}
.form-booking-confirm .field-option-date {margin-right:10px;}

.displaymode [data-editable] {display:none;}
.editmode [data-value] {display:none;}
.editmode [data-editable] {display:block;}
.editmode [data-js="editBooking"] {display:none;}
.editmode [data-js="confirmBooking"] {display:block;}

.chosen-sm .chosen-container {width:125px!important;}
.chosen-245 .chosen-container {width:245px!important;}
.form-booking-confirm .checkbox-grid {margin:0;}
.form-booking-confirm .checkbox-grid li {width:50%; margin-bottom:0;}
a {backface-visibility:hidden; -webkit-backface-visibility:hidden;}
.ml6em {margin-left:6em;}
