
@font-face {
	font-family: Droid Sans;
	src: url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/DroidSans-webfont.eot?#iefix) format("embedded-opentype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/DroidSans-webfont.woff) format("woff"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/DroidSans-webfont.ttf) format("truetype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/DroidSans-webfont.svg#droid_sansregular) format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Bliss 2;
	src: url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2L.eot?#iefix) format("embedded-opentype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2L.woff) format("woff"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2L.ttf) format("truetype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2L.svg#f2ac1c5fff21dc8cdc8bf005781b081b) format("svg");
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: Bliss 2;
	src: url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2R.eot?#iefix) format("embedded-opentype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2R.woff) format("woff"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2R.ttf) format("truetype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2R.svg#e62ba224151d61d4ac916657cdd8a13c) format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Bliss 2;
	src: url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2B.eot?#iefix) format("embedded-opentype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2B.woff) format("woff"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2B.ttf) format("truetype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/Bliss2B.svg#470068f40d0d0f49079cdb1a5e41bf5f) format("svg");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Icon Font;
	src: url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/icon-adib-youth.eot?#iefix) format("embedded-opentype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/icon-adib-youth.woff) format("woff"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/icon-adib-youth.ttf) format("truetype"), url(http://www.adib.ae/_catalogs/masterpage/ADIB/fonts/ISIC_Fonts/icon-adib-youth.svg#icon-adib-youth) format("svg");
	font-weight: normal;
	font-style: normal;
}
[data-icon]::before {
	text-transform: none !important; line-height: 1; font-family: "Icon Font" !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; content: attr(data-icon); speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
[class^='icon-']::before {
	text-transform: none !important; line-height: 1; font-family: "Icon Font" !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
[class*=' icon-']::before {
	text-transform: none !important; line-height: 1; font-family: "Icon Font" !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.icon-marker::before {
	content: "a";
}
html {
	color: rgb(34, 34, 34);
	overflow-y:scroll; position: relative; -webkit-overflow-scrolling: touch;
}
body {
	height: 100% !important; position: relative; -webkit-overflow-scrolling: touch;
}
button {
	color: rgb(34, 34, 34);
}
input {
	color: rgb(34, 34, 34);
}
select {
	color: rgb(34, 34, 34);
}
textarea {
	color: rgb(34, 34, 34);
}
html {
	color: rgb(111, 111, 111); line-height: 1.4; font-family: "Bliss 2", sans-serif; font-size: 1em;
}
::selection {
	background: rgb(179, 212, 252); text-shadow: none;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; margin: 1em 0px; padding: 0px; border-image: none; height: 1px; display: block;
}
audio {
	vertical-align: middle;
}
canvas {
	vertical-align: middle;
}
img {
	vertical-align: left;
}
video {
	vertical-align: middle;
}
fieldset {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
textarea {
	resize: vertical;
}
.browsehappy {
	background: rgb(204, 204, 204); margin: 0.2em 0px; padding: 0.2em 0px; color: rgb(0, 0, 0);
}
* {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
::before {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
::after {
	box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;
}
.views {
	background: rgb(255, 255, 255); overflow: hidden; position: relative; z-index: 2;
}
.adib-home {
	min-height: 100%;
}
a {
	transition:color 0.25s, background-color 0.25s; color: rgb(0, 167, 232); text-decoration: none; -webkit-transition: .25s color, .25s background-color;
}
a:hover {
	color: rgb(0, 47, 105);
}
a:focus {
	outline-style: none;
}
select:focus {
	outline-style: none;
}
h1 {
	margin: 0px 0px 10px;
}
h2 {
	margin: 0px 0px 10px;
}
h3 {
	margin: 0px 0px 10px;
}
h4 {
	margin: 0px 0px 10px;
}
h5 {
	margin: 0px 0px 10px;
}
h6 {
	margin: 0px 0px 10px;
}
p {
	margin: 0px 0px 10px;
}
h1 {
	line-height: 1;
}
h2 {
	line-height: 1;
}
h3 {
	line-height: 1;
}
h4 {
	line-height: 1;
}
h5 {
	line-height: 1;
}
h6 {
	line-height: 1;
}
h1 {
	color: rgb(255, 255, 255); line-height: 0.75; letter-spacing: -1px; font-size: 9.5em; font-weight: 200;
}
h1 span {
	font-size: 0.63em; font-weight: 400; display: block;
}
h2 {
	color: rgb(0, 167, 232); font-size: 2em;
}
p {
	font-family: "Droid Sans", sans-serif;
}
ul {
	font-family: "Droid Sans", sans-serif;
}
.droid {
	font-family: "Droid Sans", sans-serif;
}
img1 {
	max-width: 250px;
}
.container2 {
	padding-right: 10px; padding-left: 10px; margin-right: auto; margin-left: auto; max-width: 1000px;
}
.list-inline > li {
	display: inline-block;
}
.btn {
	padding: 6px 12px; border-radius: 4px; border: 1px solid transparent; transition:0.3s ease-in-out; border-image: none; text-align: center; line-height: 1.4285; font-size: 1em; font-weight: 400; margin-bottom: 0px; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; -ms-touch-action: manipulation; touch-action: manipulation; background-image: none; -webkit-transition: ease-in-out .3s; -webkit-user-select: none; -moz-user-select: none; user-select: none; -o-transition: ease-in-out .3s;
	outline:none;
}
.btn:focus {
	outline: dotted thin; outline-offset: -2px;
}
.btn:focus:active {
	outline: dotted thin; outline-offset: -2px;
}
.active.btn:focus {
	outline: dotted thin; outline-offset: -2px;
}
.focus.btn {
	outline: dotted thin; outline-offset: -2px;
}
.focus.btn:active {
	outline: dotted thin; outline-offset: -2px;
}
.focus.active.btn {
	outline: dotted thin; outline-offset: -2px;
}
.btn:active {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.active.btn {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.disabled.btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none; -webkit-box-shadow: none;
}
[disabled].btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none; -webkit-box-shadow: none;
}
fieldset[disabled] .btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none; -webkit-box-shadow: none;
}
.btn-lg {
	padding: 13px 24px 14px; height: 48px;
}
.btn-transparent {
	background: none; border-radius: 100px; border: 1px solid rgb(255, 255, 255); border-image: none; color: rgb(255, 255, 255); text-transform: uppercase; font-weight: 700;
}
.btn-transparent:hover {
	background: rgb(255, 255, 255); color: rgb(0, 167, 232);
}
.btn-block {
	width: 100%; padding-right: 0px; padding-left: 0px;
}
.btn-pinkborder {
	background: rgb(255, 255, 255) !important; border-radius: 100px !important; border: 1px solid rgb(225, 41, 139) !important; border-image: none !important; color: rgb(225, 41, 139) !important; font-weight: 700 !important;
}
.btn-pinkborder:hover {
	background: rgb(225, 41, 139) !important; color: rgb(255, 255, 255) !important;
}
.header {
	height: 747px; position: relative; z-index: 2;
}
.header-right { float: right; font-size: 0.8125em; margin-top: 1em; }
.header-right .list-inline > li { height: 20px; line-height: 20px; border-left: solid 1px #fff; padding: 0 1em; }
.header-right .list-inline > li:first-child { border-left: none; }
.header-right .list-inline > li:last-child { padding-right: 0; }
.header-right .list-inline > li.mobmenu {padding:0; border-left:none;}

.header-right a { color: #fff; }
.header-right a:hover {color:#e1298b;}
.header-right select { background: transparent; color: #fff; border: 0 none; height: 22px; padding: 2px 27px 2px 8px; width: 210px; }
.header-right option { background: #333; color: #fff; }
.header-right a { color: #fff; }
.header-right a:hover {color:#e1298b;}
.header-right select { background: transparent; color: #fff; border: 0 none; height: 22px; padding: 2px 27px 2px 8px; width: 210px; }
.header-right option { background: #333; color: #fff; }
.custom-dropdown { display: inline-block; position: relative; overflow: hidden; width: 185px; border: solid 1px #fff; vertical-align: middle; margin-top: -5px; }
.custom-dropdown:before { content: ''; position: absolute; right: 0; top: 3px; border-left: solid 1px #fff; width: 25px; height: 14px; pointer-events: none; }
.custom-dropdown:after { content: "\25BC"; height: 1em; font-size: .8em; line-height: 1; right: .8em; top: 50%; margin-top: -.5em; position: absolute; color: #fff; pointer-events: none; }
.header-right .icon-marker:before, .header-right .icon-call:before, .header-right .icon-menu:before { font-size: 1.5em; vertical-align: -4px; margin-right: .25em; }
.header-right .icon-call:before {vertical-align:-6px;}
.icon-call:before {content:'n';}


.shareBox{
	display:none;
}

.navigation ul {
	list-style: none; margin: 1.25em 0px 0px; padding: 0px; width: 100%; font-size: 1.5em; font-weight: 200; display: table;
}
.navigation li {
	text-align: center; display: table-cell;
}
.navigation li:first-child {
	text-align: left;
}
.navigation li:last-child {
	text-align: right;
}
.navigation li a {
	padding: 0.43em; color: rgb(255, 255, 255); border-bottom-color: transparent; border-bottom-width: 4px; border-bottom-style: solid; display: inline-block;
}
.navigation li a:hover {
	color: rgb(225, 41, 139);
}
.navigation li.active a {
	border-bottom-color: rgb(225, 41, 139);
}
.home-slider {
	background: rgb(255, 255, 255); left: 0px; top: 0px; width: 100%; height: 100%; position: absolute; z-index: 1;
}
.home-slider .slides {
	height: 100%;
}
.owl-stage-outer {
	height: 100%;
}
.owl-stage {
	height: 100%;
}
.owl-item {
	height: 100%;
}
.owl-item > div {
	height: 100%;
}
.owl-carousel2 {
	width: 3000px; display: relative; z-index: 1; -webkit-tap-highlight-color: transparent;
}
.owl-carousel2 .owl-stage {
	position: relative; -ms-touch-action: pan-y;
}
.owl-carousel2 .owl-stage::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.owl-carousel2 .owl-stage-outer {
	overflow: hidden; position: relative; -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel2 .owl-controls .owl-nav .owl-prev {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-carousel2 .owl-controls .owl-nav .owl-next {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-carousel2 .owl-controls .owl-dot {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}

.owl-carousel {
	width: 100%; display: none; position: relative; z-index: 1; -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-stage {
	position: relative; -ms-touch-action: pan-y;
}
.owl-carousel .owl-stage::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
.owl-carousel .owl-stage-outer {
	overflow: hidden; position: relative; -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-carousel .owl-controls .owl-dot {
	cursor: pointer; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -khtml-user-select: none;
}
.owl-loaded.owl-carousel {
	display: block;
}
.owl-loading.owl-carousel {
	display: block; opacity: 0;
}
.owl-hidden.owl-carousel {
	opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
	display: none;
}
.owl-carousel .owl-item {
	float: left; position: relative; min-height: 1px; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-tap-highlight-color: transparent; -webkit-backface-visibility: hidden; -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
	width: 100%; display: block; -webkit-transform-style: preserve-3d;
}
.owl-text-select-on.owl-carousel .owl-item {
	-ms-user-select: auto; -webkit-user-select: auto; -moz-user-select: auto; user-select: auto;
}
.owl-carousel .owl-grab {
	cursor: move;
}
.owl-rtl.owl-carousel {
	direction: rtl;
}
.owl-rtl.owl-carousel .owl-item {
	float: right;
}
.owl-dots {
	left: 0px; top: 0.5em; width: 100%; text-align: center; position: absolute;
}
.owl-dot {
	margin: 0px 6px; border-radius: 100px; border: 1px solid rgb(131, 138, 145); border-image: none; width: 14px; height: 14px; vertical-align: top; display: inline-block;
}
.owl-dot:hover {
	border-color: rgb(102, 102, 102); box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.active.owl-dot span {
	background: rgb(131, 138, 145); margin: 1px; border-radius: 100%; width: 10px; height: 10px; display: block;
}
.no-js .owl-carousel {
	display: block;
}
.home-slider .slides > li {
	height: 100%; overflow: hidden; position: relative;
}
.home-slider .slides .bg {
	width: 100%; height: 100%;
}
.slide1 {
	background: url("../../../../en/SiteCollectionImages/ISIC/slideshow-11.jpg") no-repeat top / cover;
}
.slide2 {
	background: url("../../../../en/SiteCollectionImages/ISIC/slideshow-22.jpg") no-repeat top / cover;
}
.home-slider::before {
	background: linear-gradient(rgba(0, 0, 0, 0.8) 31%, rgba(255, 255, 255, 0) 100%); left: 0px; top: 0px; width: 100%; height: 275px; position: absolute; z-index: 3; content: "";
}
.home-slider .content {
	left: 50%; top: 50%; width: 50%; margin-top: -100px; position: absolute;
}
.home-slider .heading {
	background: rgba(0, 47, 105, 0.8); padding: 0px 32px 42px; width: 100%; color: rgb(255, 255, 255); font-size: 5em; font-weight: 200; display: block;
}
.home-slider .sub {
	background: rgb(0, 167, 232); padding: 15px 15px 15px 32px; border-radius: 0px 100px 100px 0px; top: -0.75em; color: rgb(255, 255, 255); font-size: 1.5em; font-weight: 700; margin-top: -35px; display: inline-block; position: relative;
}
.home-slider .sub .btn {
	font-size: 0.65em; margin-left: 1.5em; vertical-align: 2px;
}
.active .heading {
	animation:bounceInRight 1.15s; -webkit-animation: bounceInRight; -moz-animation: bounceInRight; -o-animation: bounceInRight; -webkit-animation-duration: 1.15s; -moz-animation-duration: 1.15s; -o-animation-duration: 1.15s;
}
.active .sub {
	animation:bounceInRight 1.15s; -webkit-animation: bounceInRight; -moz-animation: bounceInRight; -o-animation: bounceInRight; -webkit-animation-duration: 1.15s; -moz-animation-duration: 1.15s; -o-animation-duration: 1.15s;
}
.active .sub {
	animation-duration: 1.3s; -webkit-animation-duration: 1.3s; -moz-animation-duration: 1.3s; -o-animation-duration: 1.3s;
}
.active .bg {
	-webkit-animation-name: fadeIn;
}
.arrowbg {
	background: url("../../../../en/SiteCollectionImages/ISIC/pink-arrowbg.png") no-repeat; margin: 0px 0px 0px -66px; left: 50%; width: 132px; height: 75px; bottom: 0px; position: absolute; z-index: 1;
}
.arrowbg .icon {
	margin: 0.4em 0px 0px 0.47em; border-radius: 100px; border: 1px solid rgb(255, 255, 255); border-image: none; width: 55px; height: 55px; text-align: center; color: rgb(255, 255, 255); overflow: hidden; font-size: 2em; display: inline-block;
}
.arrowbg .icon::before {
	animation:arrow 1s linear infinite both; margin-top: 0.45em; display: block; -webkit-animation: infinite arrow 1s both linear; -moz-animation: infinite arrow 1s both linear; -o-animation: infinite arrow 1s both linear;
}
[class^=views]::before {
	background: url("../../../../en/SiteCollectionImages/ISIC/pattern-black50.png") rgb(225, 41, 139); top: -8em; width: 100%; height: 300px; position: absolute; z-index: -1; content: ""; transform: skew(0deg, -7deg); -webkit-transform: skew(0deg, -7deg); -o-transform: skew(0deg, -7deg); -moz-transform: skew(0deg, -7deg);
}
.views h1 {
	letter-spacing: -5px; margin-top: 30px; margin-bottom: 0.6em; position: relative; z-index: 1;
}
.adib-home::before {
	display: none;
}
.adib-cards h1 span {
	color: rgb(148, 27, 91);
}
.threeslide-carousel .content {
	padding: 0px 0px 10px 0px;
}
.threeslide-carousel .img {
	margin-left: -2em;
}
.threeslide-carousel .item {
	margin-right: 10px;
}
.list-tickmark {
	list-style: none; margin: 2em 0px;
}
.list-tickmark > li {
	list-style: none; padding: 0.5em 0px;
}
.list-tickmark > li::before {
	color: rgb(141, 198, 66); text-transform: none !important; line-height: 1; text-indent: -2.2em; font-family: "Icon Font" !important; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; vertical-align: -3px; display: inline-block; content: "c"; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.owl-prev {
	border-radius: 100px; border: 1px solid rgb(162, 162, 162); border-image: none; left: -7em; top: 3em; width: 85px; height: 85px; overflow: hidden; position: absolute;
}
.owl-next {
	border-radius: 100px; border: 1px solid rgb(162, 162, 162); border-image: none; left: -7em; top: 3em; width: 85px; height: 85px; overflow: hidden; position: absolute;
}
.owl-next {
	left: auto; right: -7em;
}
.owl-prev::before {
	margin: -15px 0px 0px -17px; left: 50%; top: 50%; text-transform: none !important; line-height: 1; font-family: "Icon Font" !important; font-size: 2em; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; position: absolute; content: "d"; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.owl-next::before {
	margin: -15px 0px 0px -17px; left: 50%; top: 50%; text-transform: none !important; line-height: 1; font-family: "Icon Font" !important; font-size: 2em; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; position: absolute; content: "d"; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.owl-next::before {
	margin-left: -13px; content: "e";
}
.owl-prev:hover {
	border-color: rgb(225, 41, 139); color: rgb(225, 41, 139);
}
.owl-next:hover {
	border-color: rgb(225, 41, 139); color: rgb(225, 41, 139);
}
.owl-carousel .owl-controls .owl-nav .disabled {
	display: none !important;
}
.owl-carousel .owl-controls .owl-nav .disabled {
	display: none !important;
}
.owl-controls .owl-nav .disabled:hover {
	border-color: rgb(162, 162, 162); color: rgb(111, 111, 111);
}
.parallax1 {
	background: url("../../../../en/SiteCollectionImages/ISIC/parallax1.jpg") no-repeat top / cover; margin-top: 5em; position: relative;
}
.heart-box {
	margin: 4em auto; position: relative; max-width: 740px;
}
.heart-box .inner {
	border-radius: 100px; border: 1px solid rgb(216, 217, 212); border-image: none;
}
.adib-heart {
	padding: 0.8em 0px 0.8em 0.4em; width: 150px; text-align: center; color: rgb(216, 217, 212); font-size: 1.62em; border-right-color: rgb(216, 217, 212); border-right-width: 1px; border-right-style: solid; float: left;
}
.adib-heart .icon {
	margin: 0.1em 0px 0px; height: 50px; line-height: 1; font-size: 2em;
}
.heart-box .content {
	padding: 2em 0px 0px 1.5em; color: rgb(123, 123, 123); line-height: 1.2; overflow: hidden; font-size: 1.25em;
}
.heart-box .right {
	margin: 0.25em 0.35em 0px 0px; border-radius: 100px; border: 2px solid rgb(36, 201, 94); border-image: none; width: 106px; height: 106px; text-align: center; color: rgb(36, 201, 94); font-size: 3.5em; float: right;
}
.heart-box .right::before {
	margin-top: 0.4em; display: inline-block;
}
.heart-box .bigtxt {
	font-size: 1.4em;
}
.heart-box::before {
	background: rgb(216, 217, 212); left: -80%; top: 50%; width: 80%; height: 1px; position: absolute; content: "";
}
.heart-box::after {
	background: rgb(216, 217, 212); left: -80%; top: 50%; width: 80%; height: 1px; position: absolute; content: "";
}
.heart-box::after {
	left: 100%; right: auto;
}
.adib-offers::before {
	transform: skew(0deg, 7deg); background-color: rgb(224, 62, 40); -webkit-transform: skew(0deg, 7deg); -o-transform: skew(0deg, 7deg); -moz-transform: skew(0deg, 7deg);
}
.adib-offers h1 {
	text-align: right;
}
.adib-offers h1 span {
	color: rgb(148, 41, 27);
}
.offers-carousel .item {
	text-align: center; font-size: 1.25em; margin-right: 20px;
}
.brand {
	margin-top: 2em;
}
.brand-logo {
	margin: 0px 1em; padding: 0px 0px 1.25em; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 5px; border-bottom-style: solid;
}
.offers-carousel p {
	padding: 1.25em 0.5em;
}
.offers-carousel .owl-prev {
	transition:0.2s; top: 50%; margin-top: -42px; -webkit-transition: 0.2s;
}
.offers-carousel .owl-next {
	transition:0.2s; top: 50%; margin-top: -42px; -webkit-transition: 0.2s;
}
.offers-carousel .owl-prev:hover {
	background: rgb(224, 62, 40); border-color: rgb(224, 62, 40); color: rgb(255, 255, 255);
}
.offers-carousel .owl-next:hover {
	background: rgb(224, 62, 40); border-color: rgb(224, 62, 40); color: rgb(255, 255, 255);
}
.adib-howto::before {
	transform: skew(0deg, -7deg); background-color: rgb(46, 203, 101); -webkit-transform: skew(0deg, -7deg); -o-transform: skew(0deg, -7deg); -moz-transform: skew(0deg, -7deg);
}
.adib-howto h1 span {
	color: rgb(29, 128, 64);
}
.blue {
	color: rgb(0, 167, 232);
}
.list-steps {
	list-style: none; margin: 0; padding: 0px; text-align: center; overflow:hidden;
}
.list-steps .blue {
	border-bottom-color: rgb(0, 167, 232); border-bottom-width: 1px; border-bottom-style: solid;
}
.list-steps .title {
	color: rgb(0, 167, 232); padding-right: 0.4em; font-family: "Bliss 2",sans-serif; font-size: 2.25em; font-weight: 700; margin-bottom: 0.6em; display: block;
}
.list-steps > li {
	width: 28%; margin-right: 7%; vertical-align: top; display: inline-block; position: relative;
}
.list-steps > li::after {
	top: 50%; right: -1.25em; color: rgb(186, 186, 186); text-transform: none !important; line-height: 1; font-family: "Icon Font" !important; font-size: 2.5em; font-style: normal !important; font-variant: normal !important; font-weight: normal !important; margin-top: -40px; position: absolute; content: "e"; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
}
.list-steps > li:last-child {
	margin-right: 0px;
}
.list-steps > li:last-child::after {
	display: none;
}
.list-steps .icon {
	margin: 0px auto; border-radius: 100%; border: 1px solid rgb(230, 231, 227); border-image: none; width: 267px; height: 267px; color: rgb(46, 203, 101); line-height: 1; font-size: 4.5em; vertical-align: middle; display: table-cell;
}
.list-steps p {
	font-size: 1.2em; margin-top: 2.4em;
}
.list-steps .icon-edit::before {
	margin-left: 15px; display: inline-block;
}
.lt-ie9 .list-steps > li {
	margin-right: 5%;
}
.adib-contactus::before {
	transform: skew(0deg, 7deg); background-color: rgb(0, 167, 232); -webkit-transform: skew(0deg, 7deg); -o-transform: skew(0deg, 7deg); -moz-transform: skew(0deg, 7deg);
}
.adib-contactus h1 {
	text-align: right;
}
.adib-contactus h1 span {
	color: rgb(0, 111, 156);
}
.form-control {
	padding: 12px 18px; border-radius: 25px; border: 1px solid rgb(230, 231, 227); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-image: none; width: 100%; height: 52px; color: rgb(85, 85, 85); font-size: 20px; display: block; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075); background-image: none; background-color: rgb(255, 255, 255); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.form-control:focus {
	border-color: rgb(102, 175, 233); outline: 0px; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
:-ms-input-placeholder.form-control {
	color: rgb(153, 153, 153);
}
[disabled].form-control {
	cursor: not-allowed; opacity: 1; background-color: rgb(238, 238, 238);
}
[readonly].form-control {
	cursor: not-allowed; opacity: 1; background-color: rgb(238, 238, 238);
}
fieldset[disabled] .form-control {
	cursor: not-allowed; opacity: 1; background-color: rgb(238, 238, 238);
}
textarea.form-control {
	height: auto;
}
.label {
	text-align: center; color: rgb(0, 167, 232); font-family: "Bliss 2", sans-serif; font-size: 2.25em; font-weight: 700; display: block;
}
.form-table {
	width: 100%;
}
.form-table td {
	padding: 0.5em 3%; text-align: center; vertical-align: bottom;
}
.form-table .btn-pinkborder {
	padding: 16px 20px 14px; width: 50%; height: auto; font-size: 2.25em; margin-top: 2em;
}
.form-table .label {
	margin-bottom: 0.3em;
}
.red.heart-box {
	border-radius: 100%; width: 132px; height: 132px; position: static; background-color: rgb(236, 53, 76);
}
.red.heart-box::after {
	background: rgb(236, 53, 76); left: 0px; width: 100%; right: auto;
}
.red.heart-box::before {
	background: none;
}
.red.heart-box .inner {
	border: currentColor; border-image: none;
}
.red.heart-box .adib-heart {
	border: currentColor; border-image: none; width: auto; color: rgb(255, 255, 255); padding-left: 0px; float: none; position: relative; z-index: 1;
}
.foo-bluestrip {
	background: rgb(0, 47, 105); padding: 12px 0px; font-size: 0.82em;
}
.foo-bluestrip .link-international {
	float: right;
}
.foo-bluestrip .link-international .icon {
	height: 20px; font-size: 1.5em; margin-right: 5px; vertical-align: -5px; display: inline-block;
}
.foo-bluestrip .list-inline {
	margin: 2px 0px; padding: 0px; float: left;
}
.foo-bluestrip .list-inline > li {
	padding-right: 10px; padding-left: 10px; border-left-color: rgb(255, 255, 255); border-left-width: 1px; border-left-style: solid;
}
.foo-bluestrip .list-inline > li:first-child {
	padding-left: 0px; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.foo-bluestrip a {
	color: rgb(255, 255, 255) !important;
}
.foo-bluestrip a:visited {
	color: rgb(255, 255, 255) !important;
}
.foo-bluestrip a:hover {
	color: rgb(0, 167, 232) !important;
}
.foo-copyright {
	padding-bottom: 5px;
}
.foo-copyright .logos {
	padding-left: 0px; float: left;
}
.foo-copyright .links {
	text-align: right; color: rgb(52, 52, 52); font-size: 11px; margin-top: 20px; float: right;
}
.foo-copyright .links a {
	color: rgb(0, 0, 0);
}
.foo-copyright .links a:hover {
	color: rgb(0, 167, 232);
}
.foo-copyright .links .list-inline li {
	padding: 0px 5px; border-left-color: rgb(0, 0, 0); border-left-width: 1px; border-left-style: solid;
}
.foo-copyright .links .list-inline li:first-child {
	border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.foo-copyright .links .list-inline li:last-child {
	padding-right: 0px;
}
.mobile-navigation {
	display: none;
}
.icon-top {
	background: rgba(0, 0, 0, 0.5); transition:0.5s; width: 35px; height: 35px; text-align: center; right: 3px; bottom: 3px; color: rgb(255, 255, 255); position: fixed; z-index: 4; opacity: 0; -webkit-transition: .5s;
}
.active.icon-top {
	opacity: 1;
}
.icon-top:hover {
	background: rgba(0, 0, 0, 0.6); color: rgb(255, 255, 255);
}
.icon-top::before {
	margin-top: 9px; display: inline-block;
}
.ir {
	border: 0px currentColor; border-image: none; overflow: hidden; background-color: transparent;
}
.ir::before {
	width: 0px; height: 150%; display: block; content: "";
}
.hidden {
	display: none !important; visibility: hidden;
}
.visuallyhidden {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.focusable.visuallyhidden:active {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.focusable.visuallyhidden:focus {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.invisible {
	visibility: hidden;
}
.clearfix:before, .clearfix:after 
.clearfix:after
.clearfix

.bold {
	font-weight: bold;
}
@media print
{
* {
	background: none !important; color: rgb(0, 0, 0) !important; box-shadow: none !important; text-shadow: none !important;
}
a {
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
}
a[href]::after {
	content: " (" attr(href) ")";
}
abbr[title]::after {
	content: " (" attr(title) ")";
}
.ir a::after {
	content: "";
}
a[href^='javascript:']::after {
	content: "";
}
a[href^='#']::after {
	content: "";
}
pre {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
blockquote {
	border: 1px solid rgb(153, 153, 153); border-image: none; page-break-inside: avoid;
}
thead {
	display: table-header-group;
}
tr {
	page-break-inside: avoid;
}
img {
	page-break-inside: avoid;
}
img {
	max-width: 100% !important;
}
p {
	orphans: 3; widows: 3;
}
h2 {
	orphans: 3; widows: 3;
}
h3 {
	orphans: 3; widows: 3;
}
h2 {
	page-break-after: avoid;
}
h3 {
	page-break-after: avoid;
}
}

/*********************************************************************************************************/


.adib-cards .owl-carousel .owl-stage{ width:100% !important; }
.adib-cards .owl-item{ width:100% !important; }


.single-discount{ width:49%; float:left; text-align:center; margin-right:10px; overflow:hidden; }
.single-discount:nth-child(even){ margin-right:0; }
.single-discount figure{ margin:0 auto; }
.hr-line{ background:url(../../../../en/SiteCollectionImages/ISIC/bar.jpg) repeat-x; height: 7px; width: 95%; display: block; margin:10px auto; }
.description{ width:100%; clear:both; text-align:center; padding:0 4px; }
.description h3{ font-weight:bold; }


.owl-dots{ display:none !important; }



@media all and (max-width:991px) and (min-width:768px)
{
.home-slider .content {
	left: 30%; width: 70%;
}
.home-slider .heading {
	font-size: 4em;
}
.home-slider .sub {
	font-size: 1.35em;
}
.header-right ul {
	padding: 0px;
}
.header-right .list-inline > li {
	padding: 0px 0.5em;
}
.custom-dropdown {
	width: 165px;
}
.header-right select {
	width: 190px;
}
.list-steps .icon {
	width: 210px; height: 210px;
}
.list-steps .title {
	padding-right: 0px;
}
.list-steps > li::after {
	margin-top: -52px;
}
.foo-bluestrip .list-inline > li {
	padding-right: 5px; padding-left: 5px;
}
.foo-bluestrip {
	font-size: 0.75em;
}
.header {
	height: 167px;
}
}
@media all and (max-width:767px)
{
body {
	font-size: 0.81em;
}
h1 {
	font-size: 5em;
}
[class^=views]::before {
	top: -2em; height: 140px;
}
.views h1 {
	margin-top: 20px;
}
.header {
	background: rgb(0, 47, 105); height: 94px;
}

.adib-cards .owl-carousel .owl-stage{ width:100% !important; }
.adib-cards.owl-item{ width:100% !important; }

.adib-cards .owl-carousel .owl-stage table tr td{ width:100%; display:block; text-align:center;     margin-bottom: 35px; }
.adib-cards .owl-carousel .owl-stage table tr td ul{ text-align:left; }


.single-discount{ width:80%; float:none; clear:both; margin:10px auto 35px auto; }
.single-discount:nth-child(even){ margin:5px auto; }
.single-discount figure{ margin:0 auto; text-align:center; }
.single-discount figure img{ width:100%; }
.hr-line{ background:url(../../../../en/SiteCollectionImages/ISIC/bar.jpg) repeat-x; height: 7px; width: 95%; display: block; margin:10px auto; }
.description{ width:100%; clear:both; text-align:center; padding:0 4px; }
.description h3{ font-weight:bold; }

.list-steps { margin-bottom:25px; }


.header-right {
	margin-top: 2.3em;
    width: 44%;
    margin-right: 20px;
    text-align: right;
}
.header-right a {
	border-radius: 100%; border: 1px solid rgb(255, 255, 255); transition:0.25s; border-image: none; width: 34px; height: 34px; text-align: center; vertical-align: middle; display: table-cell; -webkit-transition: 0.25s;
}
.header-right a:hover {
	color: rgb(255, 255, 255);
}
.header-right a:active {
	background: rgb(225, 41, 139); border-color: rgb(225, 41, 139); color: rgb(255, 255, 255);
}
.header-right .icon-marker::before {
	margin: 2px 0px 0px; font-size: 1.4em; display: inline-block;
}
.header-right .icon-call::before {
	margin: 2px 0px 0px; font-size: 1.4em; display: inline-block;
}
.header-right .icon-menu::before {
	margin: 2px 0px 0px; font-size: 1.4em; display: inline-block;
}
.header-right .icon-call::before {
	vertical-align: -4px;
}
.header-right .list-inline > li {
	padding: 0px 0.25em; height: auto; border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.home-slider::before {
	display: none;
}
.header-right .list-inline {
    float: right;
    font-size: 0.8125em;
    margin-top: 1em;
}
.navigation {
	display: none;
}
.mobmenu {
	display: inline-block;
}
.icon-menu::before {
	content: "o";
}
.btn-lg {
	padding: 8px 14px; height: auto;
}
.home-slider .content {
	left: 0px; width: 100%; margin-top: -40px;
}
.home-slider .heading {
	padding: 0px 12px 22px; left: 0px; width: 100%; font-size: 3em;
}
.home-slider .sub {
	padding: 7px 7px 7px 15px; left: 0px; font-size: 0.93em;
}
.threeslide-carousel {
	padding-top: 3.25em;
}
.threeslide-carousel .content {
	padding-top: 2em; padding-left: 0px;
}
.threeslide-carousel h2 {
	text-align: center;
}
.threeslide-carousel .btn-pinkborder {
	width:auto; margin-right: auto; margin-left: auto; display: block;
}
.parallax1 {
	margin-top: 2em;
}
.heart-box {
	margin: 2em auto;
}
.heart-box .inner {
	border: currentColor; border-image: none; text-align: center; padding-right: 10px; padding-left: 10px;
}
.heart-box .right {
	border-width: 1px; margin: 0px; width: 54px; height: 54px; font-size: 2.25em; float: none; display: inline-block;
}
.heart-box .content {
	padding: 1em 1.5em 0px;
}
.heart-box .bigtxt {
	font-size: 1.2em;
}
.brand {
	width: 49%; margin-top: 3em; display: inline-block;
}
.offers-carousel .item {
	margin-right: 0px;
}
.brand-logo {
	margin: 0px 0.75em; padding: 0px 0px 1em; border-bottom-width: 2px;
}
.offers-carousel p {
	padding-bottom: 0px; font-size: 0.9em; margin-bottom: 0px;
}
.threeslide-carousel .owl-item .img {
	width: 75%; margin-left: 1em;
}
.list-tickmark {
	margin: 1em 0px;
}
.list-steps > li {
	width: 100%; margin-right: 0px; margin-bottom: 5em;
}
.list-steps .icon {
	padding: 1em 0px; width: 133px; height: 133px; font-size: 3.25em; display: inline-block;
}
.list-steps p {
	padding: 0px 1em; font-size: 1em;
}
.list-steps > li::after {
	left: 50%; top: 107%; right: auto; font-size: 1.75em; margin-top: auto; margin-left: -11px; content: "b";
}
.list-steps .title {
	padding-right: 0px; font-size: 1.5em;
}
.list-steps > li:last-child {
	margin-bottom: 30px;
}
.form-table td {
	display: block;
}
.form-table .btn-pinkborder {
	width: 100%; font-size: 1.5em;
}
.form-table .label {
	font-size: 1.5em; margin-top: 0.3em;
}
.form-control {
	height: 42px;
}
.red.heart-box {
	width: 66px; height: 66px;
}
.adib-heart {
	font-size: 1.15em;
}
.adib-heart .icon {
	margin: 0px; height: 20px; font-size: 1.4em;
}
.mobile-navigation {
	background: rgb(0, 47, 105); padding: 0px 10px 10px; left: 0px; top: 0px; width: 100%; /* height: 100%; */ position: absolute; z-index: 3;
}
.icon-close {
	border-radius: 100%; border: 1px solid rgb(255, 255, 255); transition:0.2s; border-image: none; top: 10px; width: 34px; height: 34px; text-align: center; right: 10px; color: rgb(255, 255, 255); font-size: 1.6em; margin-top: 2px; position: absolute; -webkit-transition: .2s;
}
.icon-close:hover {
	color: rgb(255, 255, 255);
}
.icon-close:active {
	background: rgb(225, 41, 139); border-color: rgb(225, 41, 139); color: rgb(255, 255, 255);
}
.icon-close::before {
	margin-top: 5px; display: inline-block;
}
.mobile-navigation .logo {
	float: none;
}
.mobile-navigation ul {
	list-style: none; margin: 2em 0px 0px; padding: 0px; text-align: center;
}
.mobile-navigation ul li {
	padding: 1em 0 0.2em 0;
}
.mobile-navigation ul li a {
	color: rgb(255, 255, 255); font-size: 2em; border-bottom-color: transparent; border-bottom-width: 3px; border-bottom-style: solid;
}
.mobile-navigation ul li.active a {
	border-bottom-color: rgb(225, 41, 139);
}
.icon-top {
	width: 30px; height: 30px;
}
.foo-copyright .links {
	margin: 15px 0px 10px; text-align: center; float: none; display: block;
}
.foo-bluestrip {
	text-align: center;
}
.foo-bluestrip .list-inline {
	float: none;
}
.arrowbg {
	background: url("../../../../en/SiteCollectionImages/ISIC/pink-arrowbg-mobile.png") no-repeat 0px 0px / contain rgba(0, 0, 0, 0); margin: 0px 0px 0px -48px; width: 90px; height: 51px;
}
.arrowbg .icon {
	width: 37px; height: 37px; font-size: 1.5em;
}
.slide1 {
	background-image: url("../../../../en/SiteCollectionImages/ISIC/slideshow-11-mobile.jpg");  background-size: cover;
}
.slide2 {
	background-image: url("../../../../en/SiteCollectionImages/ISIC/slideshow-22-mobile.jpg");  background-size: cover;
}



}
@media all and (min-width:767px)
{
.owl-dots {
	top: -3em;
}
}
.pull-right {
	float: right !important;
}
.pull-left {
	float: left !important;
}
.hide {
	display: none !important;
}
.show {
	display: block !important;
}
.invisible {
	visibility: hidden;
}
.text-hide {
	font: 0px/0 a; border: 0px currentColor; border-image: none; color: transparent; font-size-adjust: none; font-stretch: normal; text-shadow: none; background-color: transparent;
}
.hidden {
	display: none !important; visibility: hidden !important;
}
.affix {
	position: fixed;
}
.visible-xs {
	display: none !important;
}
.visible-sm {
	display: none !important;
}
.visible-md {
	display: none !important;
}
.visible-lg {
	display: none !important;
}
.visible-xs-block {
	display: none !important;
}
.visible-xs-inline {
	display: none !important;
}
.visible-xs-inline-block {
	display: none !important;
}
.visible-sm-block {
	display: none !important;
}
.visible-sm-inline {
	display: none !important;
}
.visible-sm-inline-block {
	display: none !important;
}
.visible-md-block {
	display: none !important;
}
.visible-md-inline {
	display: none !important;
}
.visible-md-inline-block {
	display: none !important;
}
.visible-lg-block {
	display: none !important;
}
.visible-lg-inline {
	display: none !important;
}
.visible-lg-inline-block {
	display: none !important;
}
@media all and (max-width:767px)
{
.visible-xs {
	display: block !important;
}
table.visible-xs {
	display: table;
}
tr.visible-xs {
	display: table-row !important;
}
th.visible-xs {
	display: table-cell !important;
}
td.visible-xs {
	display: table-cell !important;
}
}
@media all and (max-width:767px)
{
.visible-xs-block {
	display: block !important;
}
}
@media all and (max-width:767px)
{
.visible-xs-inline {
	display: inline !important;
}
}
@media all and (max-width:767px)
{
.visible-xs-inline-block {
	display: inline-block !important;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.visible-sm {
	display: block !important;
}
table.visible-sm {
	display: table;
}
tr.visible-sm {
	display: table-row !important;
}
th.visible-sm {
	display: table-cell !important;
}
td.visible-sm {
	display: table-cell !important;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.visible-sm-block {
	display: block !important;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.visible-sm-inline {
	display: inline !important;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.visible-sm-inline-block {
	display: inline-block !important;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
.visible-md {
	display: block !important;
}
table.visible-md {
	display: table;
}
tr.visible-md {
	display: table-row !important;
}
th.visible-md {
	display: table-cell !important;
}
td.visible-md {
	display: table-cell !important;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
.visible-md-block {
	display: block !important;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
.visible-md-inline {
	display: inline !important;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
.visible-md-inline-block {
	display: inline-block !important;
}
}
@media all and (min-width:1200px)
{
.visible-lg {
	display: block !important;
}
table.visible-lg {
	display: table;
}
tr.visible-lg {
	display: table-row !important;
}
th.visible-lg {
	display: table-cell !important;
}
td.visible-lg {
	display: table-cell !important;
}
}
@media all and (min-width:1200px)
{
.visible-lg-block {
	display: block !important;
}
}
@media all and (min-width:1200px)
{
.visible-lg-inline {
	display: inline !important;
}
}
@media all and (min-width:1200px)
{
.visible-lg-inline-block {
	display: inline-block !important;
}
}
@media all and (max-width:767px)
{
.hidden-xs {
	display: none !important;
}
}
@media all and (max-width:991px) and (min-width:768px)
{
.hidden-sm {
	display: none !important;
}
}
@media all and (max-width:1199px) and (min-width:992px)
{
.hidden-md {
	display: none !important;
}


}
@media all and (min-width:1200px)
{
.hidden-lg {
	display: none !important;
}
}

@media all and (max-width:421px){
	
	.logo { margin: 2em 0 0 -45px; }
	
}

@media all and (max-width:321px){
	
	.mobile-navigation ul li a{ font-size:1.5em; }
	
	.home-slider .heading {
    padding: 0px 12px 22px;
    left: 0px;
    width: 100%;
    font-size: 1.5em;
    margin-top: 60px;
}
	
	
	
}

.animated {
	animation-duration: 1s; animation-fill-mode: both; -webkit-animation-duration: 1s; -webkit-animation-fill-mode: both;
}
.infinite.animated {
	animation-iteration-count: infinite; -webkit-animation-iteration-count: infinite;
}
.hinge.animated {
	animation-duration: 2s; -webkit-animation-duration: 2s;
}
.bounce {
	transform-origin: center bottom; animation-name: bounce; -webkit-animation-name: bounce; -webkit-transform-origin: center bottom;
}
.flash {
	animation-name: flash; -webkit-animation-name: flash;
}
.pulse {
	animation-name: pulse; -webkit-animation-name: pulse;
}
.rubberBand {
	animation-name: rubberBand; -webkit-animation-name: rubberBand;
}
.shake {
	animation-name: shake; -webkit-animation-name: shake;
}
.swing {
	transform-origin: center top; animation-name: swing; -webkit-animation-name: swing; -webkit-transform-origin: top center;
}
.tada {
	animation-name: tada; -webkit-animation-name: tada;
}
.wobble {
	animation-name: wobble; -webkit-animation-name: wobble;
}
.bounceIn {
	animation-name: bounceIn; animation-duration: 0.75s; -webkit-animation-duration: .75s; -webkit-animation-name: bounceIn;
}
.bounceInDown {
	animation-name: bounceInDown; -webkit-animation-name: bounceInDown;
}
.bounceInLeft {
	animation-name: bounceInLeft; -webkit-animation-name: bounceInLeft;
}
.bounceInRight {
	animation-name: bounceInRight; -webkit-animation-name: bounceInRight;
}
.bounceInUp {
	animation-name: bounceInUp; -webkit-animation-name: bounceInUp;
}
.bounceOut {
	animation-name: bounceOut; animation-duration: 0.75s; -webkit-animation-duration: .75s; -webkit-animation-name: bounceOut;
}
.bounceOutDown {
	animation-name: bounceOutDown; -webkit-animation-name: bounceOutDown;
}
.bounceOutLeft {
	animation-name: bounceOutLeft; -webkit-animation-name: bounceOutLeft;
}
.bounceOutRight {
	animation-name: bounceOutRight; -webkit-animation-name: bounceOutRight;
}
.bounceOutUp {
	animation-name: bounceOutUp; -webkit-animation-name: bounceOutUp;
}
.fadeIn {
	animation-name: fadeIn; -webkit-animation-name: fadeIn;
}
.fadeInDown {
	animation-name: fadeInDown; -webkit-animation-name: fadeInDown;
}
.fadeInDownBig {
	animation-name: fadeInDownBig; -webkit-animation-name: fadeInDownBig;
}
.fadeInLeft {
	animation-name: fadeInLeft; -webkit-animation-name: fadeInLeft;
}
.fadeInLeftBig {
	animation-name: fadeInLeftBig; -webkit-animation-name: fadeInLeftBig;
}
.fadeInRight {
	animation-name: fadeInRight; -webkit-animation-name: fadeInRight;
}
.fadeInRightBig {
	animation-name: fadeInRightBig; -webkit-animation-name: fadeInRightBig;
}
.fadeInUp {
	animation-name: fadeInUp; -webkit-animation-name: fadeInUp;
}
.fadeInUpBig {
	animation-name: fadeInUpBig; -webkit-animation-name: fadeInUpBig;
}
.fadeOut {
	animation-name: fadeOut; -webkit-animation-name: fadeOut;
}
.fadeOutDown {
	animation-name: fadeOutDown; -webkit-animation-name: fadeOutDown;
}
.fadeOutDownBig {
	animation-name: fadeOutDownBig; -webkit-animation-name: fadeOutDownBig;
}
.fadeOutLeft {
	animation-name: fadeOutLeft; -webkit-animation-name: fadeOutLeft;
}
.fadeOutLeftBig {
	animation-name: fadeOutLeftBig; -webkit-animation-name: fadeOutLeftBig;
}
.fadeOutRight {
	animation-name: fadeOutRight; -webkit-animation-name: fadeOutRight;
}
.fadeOutRightBig {
	animation-name: fadeOutRightBig; -webkit-animation-name: fadeOutRightBig;
}
.fadeOutUp {
	animation-name: fadeOutUp; -webkit-animation-name: fadeOutUp;
}
.fadeOutUpBig {
	animation-name: fadeOutUpBig; -webkit-animation-name: fadeOutUpBig;
}
.flip.animated {
	backface-visibility: visible; animation-name: flip; -webkit-backface-visibility: visible; -webkit-animation-name: flip;
}
.flipInX {
	backface-visibility: visible !important; animation-name: flipInX; -webkit-backface-visibility: visible; -webkit-animation-name: flipInX;
}
.flipInY {
	backface-visibility: visible !important; animation-name: flipInY; -webkit-backface-visibility: visible; -webkit-animation-name: flipInY;
}
.flipOutX {
	backface-visibility: visible !important; animation-name: flipOutX; animation-duration: 0.75s; -webkit-backface-visibility: visible; -webkit-animation-duration: .75s; -webkit-animation-name: flipOutX;
}
.flipOutY {
	backface-visibility: visible !important; animation-name: flipOutY; animation-duration: 0.75s; -webkit-backface-visibility: visible; -webkit-animation-duration: .75s; -webkit-animation-name: flipOutY;
}
.lightSpeedIn {
	animation-name: lightSpeedIn; animation-timing-function: ease-out; -webkit-animation-name: lightSpeedIn; -webkit-animation-timing-function: ease-out;
}
.lightSpeedOut {
	animation-name: lightSpeedOut; animation-timing-function: ease-in; -webkit-animation-name: lightSpeedOut; -webkit-animation-timing-function: ease-in;
}
.rotateIn {
	animation-name: rotateIn; -webkit-animation-name: rotateIn;
}
.rotateInDownLeft {
	animation-name: rotateInDownLeft; -webkit-animation-name: rotateInDownLeft;
}
.rotateInDownRight {
	animation-name: rotateInDownRight; -webkit-animation-name: rotateInDownRight;
}
.rotateInUpLeft {
	animation-name: rotateInUpLeft; -webkit-animation-name: rotateInUpLeft;
}
.rotateInUpRight {
	animation-name: rotateInUpRight; -webkit-animation-name: rotateInUpRight;
}
.rotateOut {
	animation-name: rotateOut; -webkit-animation-name: rotateOut;
}
.rotateOutDownLeft {
	animation-name: rotateOutDownLeft; -webkit-animation-name: rotateOutDownLeft;
}
.rotateOutDownRight {
	animation-name: rotateOutDownRight; -webkit-animation-name: rotateOutDownRight;
}
.rotateOutUpLeft {
	animation-name: rotateOutUpLeft; -webkit-animation-name: rotateOutUpLeft;
}
.rotateOutUpRight {
	animation-name: rotateOutUpRight; -webkit-animation-name: rotateOutUpRight;
}
.hinge {
	animation-name: hinge; -webkit-animation-name: hinge;
}
.rollIn {
	animation-name: rollIn; -webkit-animation-name: rollIn;
}
.rollOut {
	animation-name: rollOut; -webkit-animation-name: rollOut;
}
.zoomIn {
	animation-name: zoomIn; -webkit-animation-name: zoomIn;
}
.zoomInDown {
	animation-name: zoomInDown; -webkit-animation-name: zoomInDown;
}
.zoomInLeft {
	animation-name: zoomInLeft; -webkit-animation-name: zoomInLeft;
}
.zoomInRight {
	animation-name: zoomInRight; -webkit-animation-name: zoomInRight;
}
.zoomInUp {
	animation-name: zoomInUp; -webkit-animation-name: zoomInUp;
}
.zoomOut {
	animation-name: zoomOut; -webkit-animation-name: zoomOut;
}
.zoomOutDown {
	animation-name: zoomOutDown; -webkit-animation-name: zoomOutDown;
}
.zoomOutLeft {
	animation-name: zoomOutLeft; -webkit-animation-name: zoomOutLeft;
}
.zoomOutRight {
	animation-name: zoomOutRight; -webkit-animation-name: zoomOutRight;
}
.zoomOutUp {
	animation-name: zoomOutUp; -webkit-animation-name: zoomOutUp;
}
.slideInDown {
	animation-name: slideInDown; -webkit-animation-name: slideInDown;
}
.slideInLeft {
	animation-name: slideInLeft; -webkit-animation-name: slideInLeft;
}
.slideInRight {
	animation-name: slideInRight; -webkit-animation-name: slideInRight;
}
.slideInUp {
	animation-name: slideInUp; -webkit-animation-name: slideInUp;
}
.slideOutDown {
	animation-name: slideOutDown; -webkit-animation-name: slideOutDown;
}
.slideOutLeft {
	animation-name: slideOutLeft; -webkit-animation-name: slideOutLeft;
}
.slideOutRight {
	animation-name: slideOutRight; -webkit-animation-name: slideOutRight;
}
.slideOutUp {
	animation-name: slideOutUp; -webkit-animation-name: slideOutUp;
}

/* Fix added for scroll issue by Hasim Choudhary - 07/20/2016 */
#s4-workspace {height:auto!important;}
/* Fix for scroll issue over */

.logo {
    background: #002f69;
    margin-top: 10px;
    text-align: right;
    padding: 15px 50px 15px 0;
    width: 5000px;
    margin-left: -4690px;
    float: left;
}
.bottomfix, .mainheader
{
	display:none !important;
}
#youth-cards h1, #discounts-offers h1, #how-to-activate h1, #contact-us h1
{
    line-height:0.75;
    font-size: 12em;
    color: white;
}



