
/*
.ms-cui-tabContainer img, #suiteBarButtons img {max-width:none !important;} 
.ms-designer-ribbon img {max-width:none !important;}
*/
a {backface-visibility:hidden; -webkit-backface-visibility:hidden;}
a:hover, a:active {
    text-decoration:none;
}
 .ms-cui-tabContainer img{max-width:none !important;}
.ms-srch-item-highlightedText{
	background-color:yellow;
}
.ms-webpartzone-cell {
    margin:auto auto 0px !important;
}

.ms-webpart-chrome-fullWidth {
    min-width: inherit  !important;
}
.ms-fullWidth {
    /*width: auto  !important;*/
}

.slideshow h1 {
    color: #fff;
}
button, .button {color:#fff!important; margin-left:0!important;}
#s4-bodyContainer {padding-bottom:0!important;}

@media all and (max-width:1024px) {
  .slideshow {min-width:995px; max-width: 1000px; margin:0 auto;}
  .slideshow .container{left: 45%;}
}



/* Fix on 26-Mar-2015 starts here */

/*Fix for: How to save money video (After playing the you-tube video in full screen and closing the video screen it creates problem on left menu width*/
.leftpanel .ms-webpart-cell-vertical,
.leftpanel .ms-webpart-zone,
.leftpanel .ms-webpart-chrome-vertical {
                display:block; width:100%;
}
/* Fix ends here */

.mediaInfo h2 {
  font-size: 14px;
  font-weight: normal !important;
  padding: 10px;
}
.investorInfo h2 {
  padding: 10px 14px 4px; color:#002F69!important;
}
.investorInfo p {
                padding-bottom:4px; padding-right:10px;
                
}
.blackcontainer h4, .blackcontainer h3, .youtubelink {
                color:#fff!important;
}
.youtubelink:hover {
                text-decoration:underline;
}

h2, .foo-content h4 {
                font-weight:700!important; font-family:'Droid Sans', sans-serif !important
}

/* Fix on 26-Mar-2015 ends here */

.sub-dropdown .content
{
   vertical-align:top;
}
/* fix for home page banner for lower resoution */
@media (max-height:780px) {
    .slidetabs {bottom:20%;}
}

.file-upload input[type="file"]
{
	margin-left:97px;
}
/*remove close sign from field in internet explorer*/
input::-ms-clear {
    display: none;
}
/*left align header dropdown*/
.langcountry .chosen-container {text-align:left;}
h1 {font-family: 'Droid Sans', sans-serif;}

/* Offers -> Dining promotions -> starts here */
.myItems{width:696px; clear:both; margin:0 auto; }
.myItems .single-myItem{ display:block; width:100%; overflow:hidden; clear:both; border-bottom:1px solid #e1e1e1; padding-bottom:12px;padding-top:12px; }
.myItems .single-myItem figure{ margin:0 20px 0 0; float:left; width:35%; padding:10px; }
.myItems .single-myItem figure img{ width:100%; vertical-align:middle; }
.myItems .single-myItem .desc{ float:right; text-align:left; width:60%; color:#959595; }
.myItems .single-myItem:last-child{ border:none; }

.single-myItem h3{ font-size:20px; color:#0072c6; }
.single-myItem h4{ font-size:13px; font-weight:bold; margin:8px 0; }
.single-myItem h4 span{ font-weight:300; }
.single-myItem h1 { color:#003e7d}

.single-myItem ul{ margin:-5px 0 10px 0; }
.single-myItem li{ margin:5px 0; }
.single-myItem li span{display:block; }
/* Offers -> Dining promotions -> ends here */

