.headertable {
    width: 432px;
    border: solid 0px #fff;
    background-color: #1a3b64;
    margin: 0 auto;
}

    .headertable .header {
        background-color: #173a65;
        height: 47px;
        width: 422px;
        color: #00b8f0;
        font-size: 24px;
        text-indent: 18px;
    }

    .headertable tr.row td {
        height: 35px;
    }

.errmsg {
    font-size: 13px;
    color: #f00;
}

.field
{
	width:170px;
}

.row {
  float: left;
  margin: 20px 20px 0px;
}

#calculate
{
	margin-bottom: 15px;
}

.maintable {
  width: 100%;
  background-color: #f6f6f6;
}

    .maintable .header {
        background-color: #1f5ea5;
        height: 47px;
        width: 422px;
        color: #00b8f0;
        font-size: 24px;
        text-indent: 18px;
    }

    .maintable tr.row td.Title {
  	width: 180px;
  	font-size: 16px;
     }

    .maintable tr td.border {
        height: 1px;
        background-color: #214a7e;
    }

    .maintable tr.row td.unit {
        text-align: right;
        font-size: 10px;
        color: #427fc0;
        padding-right: 10px;
        width: 80px;
    }

.terms-conditions-apply {
    text-align: right;
    font-size: 10px;
    color: #427fc0;
    padding-right: 10px;
    width: 205px;
}

    input.readonly {
        padding: 2px 5px;
        color: #06b6f1;
        font-weight: bold;
        cursor: pointer;
    }
