/*============================Gold Diamond============================*/
.breadcrumb { border-bottom-color: #ac8b40; }
.list-account > li.active > a,  .list-account > li > a:hover,  .adib-services ul li a:hover,  .catabs-container h5,  .catabs-container h3,  .catabs-container h2, .list-inline a:hover, .breadcrumb .list-inline a:hover, .list-account > li.active > a:visited { color: #a68335; }
.list-account > li > a:before,  .list-account > li > ul > li > a:before { background: url(../img/sprite-2.png) no-repeat -214px -160px; }/**/
.carousel.current-account { border: solid 2px #a68335; }
.carousel.current-account .carousel-indicators li a { background: #002f69; }
.carousel.current-account .carousel-indicators li a.active { background: #b4934f; }
.open-adibacc ul li a.apply:before { background: url(../img/sprite.png) no-repeat -96px -169px; }
.open-adibacc ul li a.btn-diamond,
.open-adibacc ul li a.btn-diamond:visited { color: #252525; }
.open-adibacc ul li a.btn-darkblue:before { background: url(../img/sprite-2.png) no-repeat -231px -156px; }
.btn-gold,
.btn-gold:visited { color: #fff; background: #bd9a4b;
background: -moz-linear-gradient(top,  #bd9a4b 0%, #bd9a4b 50%, #ac8b40 51%, #ac8b40 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bd9a4b), color-stop(50%,#bd9a4b), color-stop(51%,#ac8b40), color-stop(100%,#ac8b40));
background: -webkit-linear-gradient(top,  #bd9a4b 0%,#bd9a4b 50%,#ac8b40 51%,#ac8b40 100%);
background: -o-linear-gradient(top,  #bd9a4b 0%,#bd9a4b 50%,#ac8b40 51%,#ac8b40 100%);
background: -ms-linear-gradient(top,  #bd9a4b 0%,#bd9a4b 50%,#ac8b40 51%,#ac8b40 100%);
background: linear-gradient(to bottom,  #bd9a4b 0%,#bd9a4b 50%,#ac8b40 51%,#ac8b40 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd9a4b', endColorstr='#ac8b40',GradientType=0 );}
.btn-gold:hover { color: #fff; background: #c2a35a;
background: -moz-linear-gradient(top,  #c2a35a 0%, #c2a35a 50%, #bb9847 51%, #bb9847 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c2a35a), color-stop(50%,#c2a35a), color-stop(51%,#bb9847), color-stop(100%,#bb9847));
background: -webkit-linear-gradient(top,  #c2a35a 0%,#c2a35a 50%,#bb9847 51%,#bb9847 100%);
background: -o-linear-gradient(top,  #c2a35a 0%,#c2a35a 50%,#bb9847 51%,#bb9847 100%);
background: -ms-linear-gradient(top,  #c2a35a 0%,#c2a35a 50%,#bb9847 51%,#bb9847 100%);
background: linear-gradient(to bottom,  #c2a35a 0%,#c2a35a 50%,#bb9847 51%,#bb9847 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2a35a', endColorstr='#bb9847',GradientType=0 );}
ul.list-bigbullets li:before { background: url(../img/sprite-2.png) no-repeat -259px -159px; }
.i-online { background: url(../img/sprite-2.png) no-repeat -6px -184px; }
.i-phone { background: url(../img/sprite-2.png) no-repeat -46px -184px; }
.i-branch { background: url(../img/sprite-2.png) no-repeat -86px -184px; }
.list-question a.read:before { background: url(../img/sprite-2.png) no-repeat -134px -192px; }
.list-question a.chat:before { background: url(../img/sprite-2.png) no-repeat -173px -192px; }/**/
.apply-adib.gray { border-top-color: #A68335; }
.list-account > li > ul > li > a,
.list-account > li > ul > li > a:visited { color: #5f5f5f; }
.list-account > li > ul > li > a:hover { color: #a68335; }
.dana-slider { border-color: #a68335; }
.flex-control-paging > li > a,
.flex-control-paging > li > a:visited { background: #231717; }
.flex-control-paging > li > a.flex-active { background: #a68335; }
.accounts .content h2 a,
.accounts .content h2 a:visited { color: #a68335; }
.accounts .content h2 a:hover { color: #c2a35a; }
.accounts .content .link-readmore:before { background: url(../img/sprite-2.png) no-repeat -214px -160px; }
.accounts .content .link-readmore,
.accounts .content .link-readmore:visited { color: #231717; }
.accounts .content .link-readmore:hover { color: #a68335; }
input[type="text"]:focus,  input[type="email"]:focus,  input[type="number"]:focus,  input[type="search"]:focus,  input[type="tel"]:focus  textarea:focus, .select-gray + .chosen-container-active .chosen-single,  .select-gray + .chosen-container-active .chosen-drop { border-color: #b4934f; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); }
.select-gray + .chosen-container-active .chosen-drop {box-shadow:none; -webkit-box-shadow:none;}
.select-gray + .chosen-container-single .chosen-single div b { background-position: -1px -86px; }
.chosen-container .chosen-results li.active-result.highlighted { background: #ac8b40; }
.list-account > li > ul > li.active a { color: #a68335; }
.button.gray { background: #231717; font-weight: normal; font-size: 13px; }
.button.gray:hover { background: #444; }
.select-gray + .chosen-container-active .chosen-single { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); }

.get-started { border: solid 1px #b4934f; }
.get-started .txt { background: #b4934f; color: #fff; padding: 10px; }
.get-started .img { width: 100%; }
.get-started .link-readmore,
.get-started .link-readmore:visited { color: #fff; }
.get-started .link-readmore:hover { text-decoration: underline; }
.get-started .link-readmore:before { background: url(../img/sprite-2.png) no-repeat -193px -10px;}
.get-started .link-readmore:hover:before { transform: none; -webkit-transform: none; -moz-transform: none; }
.get-started p { font-size: 14px; margin-bottom: 5px; }
.list-account > li > ul > li.active a, ul.list-bigbullets h5, ul.list-bigbullets h3, .rightpanel h2, .tbl-email .color-darkblue, .tbl-email .color-blue2 {color:#a68335;}
.partner-offers {background:#b4934f;}
.partner-offers .content {padding:8px 5px 0 10px; line-height: 1.2; margin-bottom: 0;}
.partner-offers .head {font-size:14px;}
.leftpanel .content { margin-bottom:0px; }
.button.gray {background:#ac8b40;}
/*===========Gold theme End==========*/
