.main-nav .list-nav > li.active > a,
.chosen-container .chosen-results li.highlighted, .main-nav .list-nav > li.active > a:visited {background:#ad9167; color:#fff;}
.main-nav .list-nav > li.active > a:after {background:url(../img/sprite.png) no-repeat -204px -16px}
.main-nav .sublevel ul.list-sublevel > li.active > a, .main-nav .sublevel ul.list-sublevel > li > a.active {color:#6f6f6f;}
.slideshow .btn-blue, .slideshow .btn-blue.arrow, .btn-darkgold {color:#fff; background: #c5a370;
background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
background: -moz-linear-gradient(top,  #c5a370 0%, #c5a370 50%, #ad9167 51%, #ad9167 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c5a370), color-stop(50%,#c5a370), color-stop(51%,#ad9167), color-stop(100%,#ad9167));
background: -webkit-linear-gradient(top,  #c5a370 0%,#c5a370 50%,#ad9167 51%,#ad9167 100%);
background: -o-linear-gradient(top,  #c5a370 0%,#c5a370 50%,#ad9167 51%,#ad9167 100%);
background: -ms-linear-gradient(top,  #c5a370 0%,#c5a370 50%,#ad9167 51%,#ad9167 100%);
background: linear-gradient(to bottom,  #c5a370 0%,#c5a370 50%,#ad9167 51%,#ad9167 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5a370', endColorstr='#ad9167',GradientType=0 );
}
.slideshow .btn-blue:hover, .slideshow .btn-blue.arrow:hover, .btn-darkgold:hover {color:#fff; background: #c19c65;
background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZX");
background: -moz-linear-gradient(top,  #c19c65 0%, #c19c65 50%, #a88a5e 51%, #a88a5e 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c19c65), color-stop(50%,#c19c65), color-stop(51%,#a88a5e), color-stop(100%,#a88a5e));
background: -webkit-linear-gradient(top,  #c19c65 0%,#c19c65 50%,#a88a5e 51%,#a88a5e 100%);
background: -o-linear-gradient(top,  #c19c65 0%,#c19c65 50%,#a88a5e 51%,#a88a5e 100%);
background: -ms-linear-gradient(top,  #c19c65 0%,#c19c65 50%,#a88a5e 51%,#a88a5e 100%);
background: linear-gradient(to bottom,  #c19c65 0%,#c19c65 50%,#a88a5e 51%,#a88a5e 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c19c65', endColorstr='#a88a5e',GradientType=0 );
}
.slidetabs header, .list-account > li.active > a, .list-account > li > a:hover, .breadcrumb .list-inline a:hover, .adib-services ul li a:hover,
.main-nav .sublevel ul.list-sublevel > li:hover > a, .catabs-container h5, .catabs-container h2, ul.list-bigbullets h5, ul.list-bigbullets h3, .accounts .link-readmore:hover, .list-account > li.active > a:visited {color:#ad9167;}
.slidetabs a.active, .carousel.current-account .carousel-indicators li a.active {background:#ad9167;}
.slideshow .list > li:before {background: url(../img/sprite-2.png) no-repeat -259px -179px;}
.breadcrumb {border-bottom-color:#ad9167;}
.list-account > li > a:before, .accounts .link-readmore:before {background: url(../img/sprite-2.png) no-repeat -214px -160px;}
.adib-services .button.gray {background:#ad9167; font-weight:normal;}
.adib-services .button.gray:hover {background:#c19c65;}
.select-gray + .chosen-container-single .chosen-single div b  {background-position: -1px -86px;}
.select-gray + .chosen-container-active .chosen-single, .select-gray + .chosen-container-active .chosen-drop {border-color:#ad9167;}
.select-gray + .chosen-container-active .chosen-drop, 
.select-gray + .chosen-container-active .chosen-single {box-shadow:0 2px 4px rgba(173,145,103,.3); -webkit-box-shadow:0 2px 4px rgba(173,145,103,.3); -moz-box-shadow:rgba(173,145,103,.3);}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {border-color:#ad9167; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2));}
.open-adibacc ul li a.btn-darkblue:before {background: url(../img/sprite-2.png) no-repeat -231px -156px;}
.carousel.current-account {border:solid 2px #ad9167!important;}
ul.list-bigbullets li:before {background: url(../img/sprite-2.png) no-repeat -259px -179px;}
.i-online {background: url(../img/sprite-2.png) no-repeat -6px -229px;}
.i-phone {background: url(../img/sprite-2.png) no-repeat -47px -229px;}
.i-branch {background: url(../img/sprite-2.png) no-repeat -86px -229px;}
.list-question a.read:before {background: url(../img/sprite-2.png) no-repeat -133px -236px;}
.list-question a.chat:before {background: url(../img/sprite-2.png) no-repeat -173px -236px;}
.partner-offers {background: #ad9167;}
.partner-offers .content {padding: 8px 5px 0 10px; line-height: 1.2; margin-bottom: 0;}
.partner-offers .head {font-size: 14px;}
.content a.link-readmore {display: inline;margin:0;}
.apply-adib.gray {border-top-color:#ad9167;}
.accounts .content h2 a, 
.accounts .content h2 a:visited {color:#ad9167;}
.accounts .content h2 a:hover {color:#a1855b;}
.list-account > li > ul > li > a:before {background:url(../img/sprite-2.png) no-repeat -200px -160px;}
.list-bullet > li:before {background: url(../img/sprite-2.png) no-repeat -184px -161px;}
