/*============================Wealth============================*/
.breadcrumb { border-bottom-color: #00bdf4; }
.carousel.current-account .carousel-indicators li a.active { background: #00a7e8; }
.open-adibacc ul li a.apply:before { background: url("../../ADIBArabic/img/sprite.png") no-repeat -96px -169px; }
.open-adibacc ul li a.btn-diamond,
.open-adibacc ul li a.btn-diamond:visited { color: #252525; }
.apply-adib.gray { border-top-color: #a4a4a4; }
.list-account > li > ul > li > a,
.list-account > li > ul > li > a:visited { color: #5f5f5f; }
.list-account > li > ul > li > a:hover { color: #002f69; }
.dana-slider { border: none; }
.accounts .content h2 a:hover { color: #c2a35a; }
.accounts .content .link-readmore { color: #231717; }
.rightpanel .select-gray + .chosen-container-active .chosen-drop {box-shadow:none; -webkit-box-shadow:none;}
.rightpanel .select-gray + .chosen-container-single .chosen-single div b { background-position: -1px -86px; }
.list-account > li > ul > li.active a { color: #002f69;}
.button.gray { background: #231717; font-weight: normal; font-size: 13px; }
.button.gray:hover { background: #444; }
.rightpanel .select-gray + .chosen-container-active .chosen-single { -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.2); }
.get-started { border: solid 1px #b4934f; }
.get-started .txt { background: #b4934f; color: #fff; padding: 10px; }
.get-started .img { width: 100%; }
.get-started .link-readmore { color: #fff; }
.get-started .link-readmore:hover { text-decoration: underline; }
.get-started .link-readmore:hover:before { transform: none; -webkit-transform: none; -moz-transform: none; }
.get-started p { font-size: 14px; margin-bottom: 5px; }
.partner-offers {background:#b4934f;}
.partner-offers .content {padding:8px 5px 0 10px; line-height: 1.2; margin-bottom: 0;}
.partner-offers .head {font-size:14px;}
h2, .foo-content h4 {color:#007abb;}
.toolCalculate .toolCalculateWrap ul {margin:0 -10px;}
.toolCalculate .toolCalculateWrap ul li {border:solid 1px #ececec; margin:10px; width: 338px;}
.toolCalculateWrap.fullwid ul {float:none;}
.toolCalculateWrap.fullwid ul li {float:none; width:100%; display:table; border:none; margin-top:0; margin-bottom:0; padding-bottom:0;}
.toolCalculateWrap.fullwid li div p {font-size:16px; font-weight:bold; color:#00bdf4;}
/*===========Wealth End==========*/
