/* Added by Hasim Choudhary for Master Page Layout */

.mainheader,.shareBox, .mainfooter
{
	display:none !important;
}

/* End by Hasim Choudhary for Master Page Layout */


*{ margin:0; padding:0; }

body{ font-family:Trebuchet MS; }

.wheels_container{ width:1024px; margin:0 auto; overflow:hidden; position:relative; }

a:link, a:visited{ color:inherit; text-decoration:none; }


.closeForm1{ position: absolute; top: 2%; right: 2%; cursor: pointer; font-weight: 900; border: 2px solid #ccc; border-radius: 100%; padding: 0px 6px; }

/*************************************** HEADER *********************************************/

#header{
	
	width:100%; clear:both; min-height:800px; margin:0 auto; padding-top:50px; position:relative; max-height:inherit !important;
	background:url(../../PublishingImages/wheels-deals/hero-img.png) no-repeat;
background-size:100% 100%; -moz-background-size:100% 100%; -webkit-background-size:100% 100%;
-o-background-size:100% 100%;
	
	/*
	width:100%; clear:both; margin:0 auto; padding-top:50px; position:relative; max-height:inherit !important;
	background:url(/en/PublishingImages/wheels-deals/wheels-deals-banner.jpg) no-repeat;
background-size:100% 100%; -moz-background-size:100% 100%; -webkit-background-size:100% 100%; float:none; display:block;
-o-background-size:100% 100%;
*/

}

.logo{ position:absolute; top:-10px; left:20%; padding:50px 25px 25px 25px; border-radius:12px; overflow:hidden; background:#ffffff; box-shadow:0px 0px 15px #333; float:none; }
.logo img{ width:100%; }

.headerTop{ background:rgba(255,255,255,0.8); width:100%; padding:24px 0; text-align:right; }

.headerTop .wheels_container{ }
.headerTop ul{ list-style:none; float:left; margin-left:28%; margin-top:27px; }
.headerTop ul li{ display:inline-block; color:#003e7d; }
.headerTop ul li a:link, .headerTop ul li a:visited{ text-transform:capitalize; font-size:15px; border-right:1px solid #003e7d; padding:0 10px; color:#003e7d !important; }
.headerTop ul li a:hover{ text-decoration:underline; color:#003e7d; }
.headerTop ul li a:active{ text-decoration:underline; color:#003e7d; }
.headerTop ul li:last-child a{ border:none; }


#menu-icon {
    display: hidden;
    width: 40px;
    height: 40px;      
    background: #4C8FEC url(../../PublishingImages/wheels-deals/menu-icon.png) no-repeat center;
}


.lang{ display:inline-block; float:left; margin-top:25px; margin-left:10px; }
.ADIBLogo{ float:right; }

.line1{ background:#000d36; padding:20px 0; color:#fff; margin-top:7%; width:78%;  }
.line2{ background:#003166; padding:20px 0; color:#fff; width:78%; margin-bottom:45px; }
.line3{ background:rgba(0,62,125,0.8); padding:15px 0; color:#fff; margin-top:33%; width:100%; text-align:center;  }

.line1 h2, .line2 h1{ margin-left:26%; color:#ffffff; }

.line1 h2{ font-size: 36px; font-weight: 100 !important; letter-spacing:-1px; }
.line2 h1{ font-size: 47px; margin:0 0 0 26%; padding:0; }
.line3 h2{ font-size: 38px; font-weight:400 !important; letter-spacing:-1px; padding-bottom:0;  }

.apply-btn{ 
	background: #21a5de;
    
    color: #fff !important;
    border-radius: 7px;
    padding: 16px 0;
    font-weight: bold;
    font-size: 25px;
    display: block;
    width: 16%;
    text-align: center;
    margin: 15px auto;
}


.apply-btn span {
                background: url(../../PublishingImages/wheels-deals/applyNow.png) no-repeat;
    width: 86px;
    height: 84px;
    display: inline-block;
    float: right;
    margin-top: -22px;
    margin-right: -27px;
}




.icons{ list-style:none; overflow:hidden; }
.icons li{ float:left; width:22%; overflow:hidden; margin:0 50px 0 10px; }
.icons li img{ width:100%; }

/****************************************** CONTENT *****************************************/

#content{ background:#378cbf; padding:15px 0; }
#content .wheels_container{ background:#ffffff; padding:30px; width:1090px; }

#offers{ 
	background: #f2f2f2; box-shadow: 0px 1px 6px -1px #999; border-radius: 3px; padding: 18px 8px 18px 18px; margin-bottom: 40px; position: relative; display: block; clear: both; height:auto;
}
#offers figure{ overflow:hidden; float:left; width:220px; padding:0px; }
#offers figure .img{ padding: 6px; border: 2px solid #8e8e8e; height: 175px; background:#fff; overflow:hidden; text-align:center; }
#offers figure img{  background: #fff;width:100%; max-height:100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
 }
#offers figcaption{ color:#003e7d; font-size:23px; text-transform:capitalize; text-align:center; font-weight:300; }

#offers .details{ float:left; width:495px; }
#offers .details h2{ color: #003e7d; font-size: 30px; text-transform: capitalize; margin-left: 17.5%; margin-top: 4%; line-height:40px; }
#offers .details h2 small{ font-size:14px; display:block; color:#003e7d; }

#offers .details ul{ display:block; margin-top:22px; list-style-type: disc; margin-left: 8%; }
#offers .details ul li{ color:#003e7d; font-size:22px; font-weight:100; margin-left:25px; }

#offers .actions{ float:right; width:240px; }
#offers .actions ul{ list-style:none; margin-top:9px; }
#offers .actions ul li{ display:block; height:66px; margin-bottom:36px; }

#offers .actions ul li.date{ background:#003e7d; color:#fff; }
#offers .actions ul li.date span{
	background: url(../../PublishingImages/wheels-deals/date.png) no-repeat; width: 86px; height: 84px; display: inline-block; float: left; margin-top: -9px; margin-left: -30px;
}
#offers .actions ul li.date p{ float: right;
margin: 8px 14px 14px 0px;
font-size: 18px;
display: inline-block;
line-height: 24px; }

#offers .actions ul li.apply{ background:#21a5de; color:#fff; }
#offers .actions ul li.apply span{
	background:url(../../PublishingImages/wheels-deals/applyNow.png) no-repeat; width:86px; height:84px; display: inline-block; float: left; margin-top: -9px; margin-left: -30px;
}
#offers .actions ul li.apply p{
	float: right; margin: 9px 17px 14px 0px; font-size: 28px; display: inline-block; font-weight: bold; color:#fff;
}


.specialOffers{ background: url(../../PublishingImages/wheels-deals/offers.png) no-repeat left top; position: absolute; left: 23.9%; top: -14px; width: 79px; height: 80px; }


/************************************************ FOOTER ************/


#footer{ background:#003e7d; padding:25px 0; margin:0; }
#footer ul{ list-style:none; float:right; margin:0 }
#footer ul li{ display:inline-block;  }
#footer ul li a{ color: #ffffff; text-decoration: none; font-size: 14px;  border-right: 1px solid #fff; padding: 0 10px; }
#footer ul li:last-child a{ border:none; }


/*********************************************************** POPUP ******************************************************/

.backdrop{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,1);
	opacity:0;
	filter:alpha(opacity=0);
	z-index:99998;
	display:none;	
}

.box{
	position:fixed;
	top:10%;
	left:21%;
	width:1000px;
	height:600px;
	background:rgba(255,255,255,1);
	z-index:99999;
	padding:10px 30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 0px 5px #444444;
	-moz-box-shadow:0px 0px 5px #444444;
	-webkit-box-shadow:0px 0px 5px #444444;
	display:none;
}

.close{ cursor:pointer; float:right; font-size:32px; font-weight:100; margin:5px 20px; }

.apply-now-form li{ display:block; margin-bottom:10px; }

.color-blue2, .color-blue2:visited {
    color: #007ABB;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
    border-radius: 0px;
    background-color: #FFF;
    font-family: inherit;
    border: 1px solid #D6D6D6;
    display: block;
    padding: 4px 8px;
    height: 30px;
    width: 100%;
    line-height: 1;
    box-sizing: border-box;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
}

input[type="button"], input[type="reset"], input[type="submit"], button{ margin-left:0 !important; }



/*
=========================================================================
    START RESPONSIVE
=========================================================================
*/

@media(min-width:1921px ){ 

}

@media(min-width:1281px ){
    
}

@media(max-width:1280px ){
    
}

@media(max-width:1199px ){
    
}


@media(max-width:991px ){
    
    
    
}


@media(max-width:767px ){


	.wheels_container{ width:100% !important; padding:30px 10px !important; }
	
	.icons li{ float:none; margin:0 auto 30px auto; width:40%; display:block; clear:both; }

	.line1{ padding:10px 5px 10px 0; }
	.line1 h2{ font-size:25px; letter-spacing:0; }
	.line2{ padding:10px; 0; }
	.line2 h1{ font-size:30px; margin:0 0 0 24%;  }

	.specialOffers{ left:2%; }

	#offers { box-shadow: 0px 1px 6px -1px #999; border-radius: 3px; padding: 18px 8px 18px 18px; margin-bottom: 40px; display: block;  clear: both; height: auto; float:left; }


	#offers figure { float: none; width: 36%; margin:0 auto; clear:both; }
	#offers .details { float: none; width: 95%; margin:0 auto; }
	#offers .actions { float: none; clear:both; width: 80%; margin:0 auto; text-align:center; }

	


	

#header{ padding-top:0; }

.logo { float: none; margin: 0 auto; padding: 18px 0; text-align: center; width: 60%; position:relative; left:auto; }
.logo img{ width:auto; }

.headerTop{ padding:0; }
.headerTop .wheels_container{ overflow:inherit; padding:0; }

.ADIBLogo { float: none; text-align: center; }

.lang{ display:none; }

.line1, .line2{ width:100%; }
.line1 h2, .line2 h1 { color: #ffffff;  margin-left: 0;  text-align: center; }



	/********* MENU ************/
	#nav-wrap{ float:right; }

	#menu-icon { display:inline-block; }


#nav-wrap ul, #nav-wrap:active ul {
    background: #fff;
    border: 5px solid #444;
    border-radius: 4px 0 4px 4px;
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 43px;
    width: 50%;
}


    #nav-wrap li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }
	#nav-wrap:hover ul { display: block; }


}


@media only screen and (min-width: 481px) and (max-width: 680px){
	
	.wheels_container{ width:100% !important; padding:30px 10px !important; }
	
	.icons li{ float:none; margin:0 auto 30px auto; width:40%; display:block; clear:both; }

	.line1{ padding:10px 5px 10px 0; }
	.line1 h2{ font-size:25px; letter-spacing:0; }
	.line2{ padding:10px; 0; }
	.line2 h1{ font-size:30px; margin:0 0 0 24%;  }

	.specialOffers{ left:2%; }

	#offers { box-shadow: 0px 1px 6px -1px #999; border-radius: 3px; padding: 18px 8px 18px 18px; margin-bottom: 40px; display: block;  clear: both; height: auto; float:left; }


	#offers figure { float: none; width: 70%; margin:0 auto; clear:both; }
	#offers .details { float: none; width: 95%; margin:0 auto; }
	#offers .actions { float: none; clear:both; width: 80%; margin:0 auto; text-align:center; }

	


	

#header{ padding-top:0; }

.logo { float: none; margin: 0 auto; padding: 18px 0; text-align: center; width: 60%; position:relative; left:auto; }
.logo img{ width:auto; }

.headerTop{ padding:0; }
.headerTop .wheels_container{ overflow:inherit; padding:0; }

.ADIBLogo { float: none; text-align: center; }

.lang{ display:none; }

.line1, .line2{ width:100%; }
.line1 h2, .line2 h1 { color: #ffffff;  margin-left: 0;  text-align: center; }



	/********* MENU ************/
	#nav-wrap{ float:right; }

	#menu-icon { display:inline-block; }

    #nav-wrap ul, #nav-wrap:active ul {
    background: #fff;
    border: 5px solid #444;
    border-radius: 4px 0 4px 4px;
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 43px;
    width: 50%;
}

    #nav-wrap li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }
	#nav-wrap:hover ul { display: block; }

    
}

@media(max-width:480px ){


	.wheels_container{ width:100% !important; padding:30px 10px !important; }
	
	.icons li{ float:none; margin:0 auto 30px auto; width:40%; display:block; clear:both; }

	.line1{ padding:10px 5px 10px 0; }
	.line1 h2{ font-size:25px; letter-spacing:0; }
	.line2{ padding:10px; 0; }
	.line2 h1{ font-size:30px; margin:0 0 0 24%;  }

	.specialOffers{ left:2%; }

	#offers { box-shadow: 0px 1px 6px -1px #999; border-radius: 3px; padding: 18px 8px 18px 18px; margin-bottom: 40px; display: block;  clear: both; height: auto; float:left; }


	#offers figure { float: none; width: 70%; margin:0 auto; clear:both; }
	#offers .details { float: none; width: 95%; margin:0 auto; }
	#offers .actions { float: none; clear:both; width: 80%; margin:0 auto; text-align:center; }

	
#offers .details h2{
    font-size:26px; text-align:center; display:block; padding:0; margin:0 0 10px; 0;
}

#offers figcaption{ font-size:22px; }

#offers .details ul{ margin:0; }

#offers .details ul li { font-size: 20px; margin-left: 13px; }


	

#header{ padding-top:0; }

.logo { float: none; margin: 0 auto; padding: 18px 0; text-align: center; width: 60%; position:relative; left:auto; }
.logo img{ width:auto; }

.headerTop{ padding:0; }
.headerTop .wheels_container{ overflow:inherit; padding:0; }

.ADIBLogo { float: none; text-align: center; }

.lang{ display:none; }

.line1, .line2{ width:100%; }
.line1 h2, .line2 h1 { color: #ffffff;  margin-left: 0;  text-align: center; }



	/********* MENU ************/
	#nav-wrap{ float:right; }

	#menu-icon { display:inline-block; }

    #nav-wrap ul, #nav-wrap:active ul {
    background: #fff;
    border: 5px solid #444;
    border-radius: 4px 0 4px 4px;
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 43px;
    width: 50%;
}

    #nav-wrap li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }
	#nav-wrap:hover ul { display: block; }
    
   


    
}


@media(max-width:360px ){    

    	.wheels_container{ width:98% !important; padding:30px 10px !important; }
	.icons li{ float:none; margin:0 auto 30px auto; width:40%; display:block; clear:both; }

	.line1{ padding:10px 5px 10px 0; }
	.line1 h2{ font-size:25px; letter-spacing:0; }
	.line2{ padding:10px; 0; }
	.line2 h1{ font-size:30px; margin:0 0 0 24%; }

	.specialOffers{ left:2%; }

	#offers { box-shadow: 0px 1px 6px -1px #999; border-radius: 3px; padding: 18px 8px 18px 18px; margin-bottom: 40px; display: block;  clear: both; height: auto; float:left; }
	

	#offers figure { float: none; width: 70%; margin:0 auto; clear:both; }
	#offers .details { float: none; width: 95%; margin:0 auto; }
	#offers .actions { float: none; clear:both; width: 80%; margin:0 auto; text-align:center; }

#offers .details h2{
    font-size:26px; text-align:center; display:block; padding:0; margin:0 0 10px; 0;
}

#offers figcaption{ font-size:22px; }

#offers .details ul{ margin:0; }

#offers .details ul li { font-size: 20px; margin-left: 13px; }


/***************************************************************/

#header{ padding-top:0; }

.logo { float: none; margin: 0 auto; padding: 18px 0; text-align: center; width: 60%; position:relative; left:auto; }
.logo img{ width:auto; }

.headerTop{ padding:0; }
.headerTop .wheels_container{ overflow:inherit; padding:0; }

.ADIBLogo { float: none; text-align: center; }

.lang{ display:none; }

.line1, .line2{ width:100%; }
.line1 h2, .line2 h1 { color: #ffffff;  margin-left: 0;  text-align: center; }


#nav-wrap{ float:right; }
#menu-icon { display:inline-block; }

    #nav-wrap ul, #nav-wrap:active ul {
    background: #fff;
    border: 5px solid #444;
    border-radius: 4px 0 4px 4px;
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 43px;
    width: 50%;
}

    #nav-wrap li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }
	#nav-wrap:hover ul { display: block; }


    
}


@media(max-width:320px ){
	
	.wheels_container{ width:98%; padding:30px 10px !important; }
	.icons li{ float:none; margin:0 auto 30px auto; width:40%; display:block; clear:both; }

	.line1{ padding:10px 5px 10px 0; }
	.line1 h2{ font-size:25px; letter-spacing:0; }
	.line2{ padding:10px; 0; }
	.line2 h1{ font-size:30px; margin:0 0 0 24%; }

	.specialOffers{ left:2%; }

	#offers { box-shadow: 0px 1px 6px -1px #999; border-radius: 3px; padding: 18px 8px 18px 18px; margin-bottom: 40px; display: block;  clear: both; height: auto; float:left; }
    	
	#offers figure { float: none; width: 70%; margin:0 auto; clear:both; }
	#offers .details { float: none; width: 95%; margin:0 auto; }
	#offers .actions { float: none; clear:both; width: 80%; margin:0 auto; text-align:center; }

#offers .details h2{
    font-size:26px; text-align:center; display:block; padding:0; margin:0 0 10px; 0;
}

#offers figcaption{ font-size:22px; }

#offers .details ul{ margin:0; }

#offers .details ul li { font-size: 20px; margin-left: 13px; }



	/***************************************************************/

#header{ padding-top:0; }

.logo { float: none; margin: 0 auto; padding: 18px 0; text-align: center; width: 60%; position:relative; left:auto; }
.logo img{ width:auto; }

.headerTop{ padding:0; }
.headerTop .wheels_container{ overflow:inherit; padding:0; }

.ADIBLogo { float: none; text-align: center; }

.lang{ display:none; }

.line1, .line2{ width:100%; }
.line1 h2, .line2 h1 { color: #ffffff;  margin-left: 0;  text-align: center; }

#nav-wrap{ float:right; }
#menu-icon { display:inline-block; }

    #nav-wrap ul, #nav-wrap:active ul {
    background: #fff;
    border: 5px solid #444;
    border-radius: 4px 0 4px 4px;
    display: none;
    padding: 20px;
    position: absolute;
    right: 10px;
    top: 43px;
    width: 50%;
}

    #nav-wrap li {

        text-align: center;
        width: 100%;
        padding: 10px 0;
        margin: 0;

    }
	#nav-wrap:hover ul { display: block; }






    
}


